<section
  class="work-experience"
  id="work-experience"
  v-cloak
>
  <div class="work-experience__content-wrap">

    <section-heading
      :level="2"
      title="Опыт работы"
      subtitle="Начиная с 2012 года я работаю штатным специалистом."
    ></section-heading>

    <div class="work-experience__items-wrap">
      <figure
        class="work-experience__item"
        v-for="item in db"
      >
        <time class="work-experience__item-period">{{ item.time_start | date }} - {{ item.time_end | date }}</time>
        <span class="work-experience__item-period-count">{{ item.period }}</span>
        <p class="work-experience__item-position">{{ item.position }}</p>
        <p class="work-experience__item-company">{{ item.company }}</p>
        <div class="work-experience__item-description">{{ item.description }}</div>
      </figure>
    </div>
  </div>
</section>