.work-experience {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fafafa;
  background-image: url('../images/work-experience.map.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;

  & > [id^='jarallax-container'] {
    & > div {
      opacity: .05;
      background-size: contain !important;
    }
  }
}

.work-experience__content-wrap {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 100px;

  @media screen and (--mobile) {
    padding-top: 50px;
  }
}

.work-experience__items-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 160px;

  @media screen and (--mobile) {
    display: block;
    padding: 20px 0 40px 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 2px;
    height: 100%;
    content: '';
    transform: translateX(-50%);
    background-image: linear-gradient(
      to bottom,
      color(#fff alpha(0)) 0,
      #eee 5%,
      #eee 50%,
      #eee 95%,
      color(#fff alpha(0)) 100%
    );

    @media screen and (--mobile) {
      left: 10px;
      width: 1px;
    }
  }
}

.work-experience__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 40px);
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: var(--App__boxShadow);
  line-height: 1.5;

  @media screen and (--mobile) {
    width: 100%;
    padding: 10px;
  }

  &:first-child {
    &::after {
      position: absolute;
      z-index: 1;
      top: -20px;
      right: -41px;
      display: block;
      width: 2px;
      height: 107px;
      content: '';
      background-image: linear-gradient(
        to bottom,
        color(#fff alpha(0)) 0,
        #e6a23c 20%,
        #e6a23c 50%,
        #e6a23c 80%,
        color(#fff alpha(0)) 100%
      );

      @media screen and (--mobile) {
        top: -10px;
        right: auto;
        left: -21px;
        width: 1px;
        height: 68px;
      }
    }
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: calc(20px + 6px);
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    background-color: #fff;

    @media screen and (--mobile) {
      top: calc(10px + 6px);
      width: 15px;
      height: 15px;
      border-width: 1px;
    }

    @nest .work-experience__item:first-child& {
      top: 20px;
      width: 27px;
      height: 27px;
      border-color: #e6a23c;

      @media screen and (--mobile) {
        top: 12px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 80px;

    @media screen and (--mobile) {
      margin-bottom: 20px;
    }
  }

  &:nth-child(odd) {
    align-items: flex-end;

    @media screen and (--mobile) {
      align-items: flex-start;
    }

    &::before {
      right: -40px;
      transform: translateX(50%);

      @media screen and (--mobile) {
        right: auto;
        left: -20px;
        transform: translateX(-50%);
      }
    }
  }

  &:nth-child(even) {
    align-items: flex-start;
    transform: translateY(50%);

    @media screen and (--mobile) {
      transform: none;
    }

    &::before {
      left: -40px;
      transform: translateX(-50%);

      @media screen and (--mobile) {
        right: auto;
        left: -20px;
        transform: translateX(-50%);
      }
    }
  }
}

.work-experience__item-period {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;

  @media screen and (--mobile) {
    font-size: 16px;
  }
}

.work-experience__item-period-count {
  display: block;
  margin-bottom: 10px;
  padding-left: 16px;
  opacity: .6;
  background-image: url('../images/work-experience.calendar.svg');
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: auto 12px;
  font-size: 12px;
}

.work-experience__item-position {
  font-size: 14px;
  font-weight: 700;
}

.work-experience__item-company {
  display: block;
  margin-bottom: 10px;
  opacity: .6;
  font-size: 12px;
}

.work-experience__item-description {
  font-size: 14px;
}
