<section class="portfolio-item" v-cloak>

  <portfolio-item-promo></portfolio-item-promo>

  <portfolio-item-description></portfolio-item-description>

  <simple-parallax
    v-if="currentItem.mockups[1] && $mq !== 'mobile'"
    :image="currentItem.mockups[1]"
  ></simple-parallax>

  <technologies-slideshow></technologies-slideshow>

  <simple-parallax
    v-if="currentItem.mockups[2] && $mq !== 'mobile'"
    :image="currentItem.mockups[2]"
  ></simple-parallax>

  <similar-projects></similar-projects>

  <simple-parallax
    v-if="currentItem.mockups[3] && $mq !== 'mobile'"
    :image="currentItem.mockups[3]"
  ></simple-parallax>

  <work-frame></work-frame>

</section>