<header
  class="main-promo"
  :style="{
    backgroundImage: `url(${image})`
  }"
  :data-video-src="video"
  v-cloak
>
  <article class="main-promo__content-wrap">
    <h1 class="main-promo__title" v-if="title">{{ title }}</h1>
    <p class="main-promo__subtitle" v-if="subtitle">{{ subtitle }}</p>
    <div class="main-promo__text" v-if="text">
      <div class="main-promo__text-content" v-html="text"></div>
    </div>
    <div
      class="main-promo__social-wrap"
      v-if="$mq !== 'mobile'"
    >

      <social-links></social-links>

    </div>
    <div
      class="main-promo__avatar"
      :style="{
        visibility: isAvatarVisible ? 'initial' : 'hidden'
      }"
    >
      <img
        class="main-promo__avatar-image"
        src="/assets/images/main-promo.avatar.jpg"
        alt="Автор этого сайта с женой"
      >
    </div>
  </article>
</header>