.main-promo {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 10px;
  background-color: #212121;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: color(#263238 alpha(.6));
  }
}

.main-promo__content-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 180px 0 0;

  @media screen and (--mobile) {
    padding: 120px 0 0;
  }
}

.main-promo__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  line-height: 77px;

  @media screen and (--mobile) {
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
    line-height: initial;
  }
}

.main-promo__subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #e6a23c;
  font-size: 38px;
  font-weight: 700;
  line-height: 77px;

  @media screen and (--mobile) {
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
    line-height: initial;
  }
}

.main-promo__text {
  max-width: 960;
  margin: 0 auto 50px;
  opacity: .8;

  @media screen and (--mobile) {
    margin-bottom: 0;
  }
}

.main-promo__text-content {
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;

  @media screen and (--mobile) {
    text-align: left;
    line-height: 1.5;
  }

  & p {
    @media screen and (--mobile) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.main-promo__social-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (--mobile) {
    justify-content: flex-start;
  }
}

.main-promo__avatar {
  position: relative;
  z-index: 3;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transform: translateY(50%);
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: var(--App__boxShadow);

  @media screen and (--mobile) {
    width: 100px;
    height: 100px;
  }
}

.main-promo__avatar-image {
  display: block;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
