.testimonials-carousel {
  position: relative;
  width: 100%;
  padding: 80px 0;

  @media screen and (--mobile) {
    padding: 40px 0;
  }
}

.testimonials-carousel__nav {
  position: relative;
  max-width: calc(130px * 5);
  margin: 0 auto;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    display: block;
    width: 10px;
    height: 100%;
    content: '';
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, #fff, color(#fff alpha(0)));
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left, #fff, color(#fff alpha(0)));
  }
}

.testimonials-carousel__nav-item {
  display: block;
  width: 130px;
  margin: 0 45px;
  padding-bottom: 75px;

  @media screen and (--mobile) {
    padding-bottom: 40px;
  }
}

.testimonials-carousel__nav-item-image {
  display: block;
  overflow: hidden;
  width: 130px;
  height: 130px;
  transition-duration: .4s;
  transition-property: transform, opacity, box-shadow, filter;
  transform: scale(calc(90 / 130));
  opacity: .4;
  border-radius: 50%;
  box-shadow: 14px 38px 40px color(#fff alpha (0));
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);

  @media screen and (--mobile) {
    box-shadow: 14px 20px 20px color(#fff alpha (0));
  }

  @nest .is-selected > & {
    filter: grayscale(0);
    transform: scale(1);
    opacity: 1;
    box-shadow: 14px 38px 40px rgba(92, 95, 101, .28);

    @media screen and (--mobile) {
      box-shadow: 14px 20px 20px rgba(92, 95, 101, .1);
    }
  }
}

.testimonials-carousel__items-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.testimonials-carousel__item {
  position: relative;
  z-index: 0;
  zoom: 1;
  width: 100%;
  padding: 0 10px;
  transition-duration: .4s;
  transition-property: opacity, transform, filter;
  transform: scale(.8);
  text-align: center;
  opacity: 0;
  filter: grayscale(1) blur(5px);

  @media screen and (--mobile) {
    text-align: left;
  }

  &.is-selected {
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0) blur(.3px);
  }
}

.testimonials-carousel__item-title {
  max-width: 720px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  font-size: 32px;
  font-weight: 100;
  line-height: 1.4;

  @media screen and (--mobile) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.testimonials-carousel__item-text {
  max-width: 720px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;

  @media screen and (--mobile) {
    margin-bottom: 20px;
  }

  & *:first-child::before {
    content: '“';
    color: #9e9e9e;
    font-weight: 700;
  }

  & *:last-child::after {
    content: '”';
    color: #9e9e9e;
    font-weight: 700;
  }
}

.testimonials-carousel__el-rate {
  &.el-rate {
    margin-bottom: 68px;

    @media screen and (--mobile) {
      margin-bottom: 20px;
    }
  }
}

.testimonials-carousel__item-project {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}
