<testimonials-carousel inline-template v-cloak>
  <section
    id="testimonials-carousel"
    class="testimonials-carousel"
  >
    <nav class="testimonials-carousel__nav" data-slideshow-thumbs>
      <figure
        class="testimonials-carousel__nav-item"
        v-for="image in [
         '/assets/images/portfolio-item/tkgr/1.jpg',
         '/assets/images/portfolio-item/indigo-planet/1.jpg',
         '/assets/images/portfolio-item/sevmediaservice/1.jpg',
         '/assets/images/portfolio-item/urms/1.jpg',
         '/assets/images/portfolio-item/sevplastidip/1.jpg'
        ]"
        :key="image"
      >
        <img
          class="testimonials-carousel__nav-item-image"
          :src="image"
          :alt="image"
        >
      </figure>
    </nav>

    <div class="testimonials-carousel__items-wrap" data-slideshow>
      <figure
        class="testimonials-carousel__item"
        v-for="item in [
          {
            image: '/assets/images/portfolio-item/tkgr/1.jpg',
            title: 'Отмечаем терпение и выдержку',
            text: '<p>Выражаем благодарность Веб-студии Growwweb за создание сайта с «0», полностью соответствующего пожеланиям руководства Интернет-ресурса «tkgr.ru». Помимо высокого качества работ, отмечаем терпение и выдержку специалистов Веб-студии Growwweb, которые были проявлены при учёте всех наших пожеланий, возникающих в процессе создания сайта. Желаем успеха и процветания и однозначно рекомендуем Growwweb для сотрудничества.</p>',
            project: 'tkgr.ru'
          },
          {
            image: '/assets/images/portfolio-item/indigo-planet/1.jpg',
            title: 'Просто потрясающе!',
            text: '<p>Ожидала совсем другого, но Вы, как оказалось, можете удивить. Даже - впечатлить. Очень нравится то, что Вы сделали. Просто превзошли все самые смелые ожидания...</p><p>Просто потрясающе! Теперь я понимаю, почему стоит платить за сайт :)</p>',
            project: 'indigoplanet.ru'
          },
          {
            image: '/assets/images/portfolio-item/sevmediaservice/1.jpg',
            title: 'Лучшие в Севастополе! Лучшие в Крыму!',
            text: '<p>Большое спасибо команде Growwweb!!! За разработку и качественное выполнение сайта? - нет, за то что на протяжении длительного времени вовремя отзывались, терпели, соглашались и добивались максимального результата в проекте www.SevMediaService.ru!</p><p>Лучшие в Севастополе! Лучшие в Крыму!</p>',
            project: 'sevmediaservice.ru'
          },
          {
            image: '/assets/images/portfolio-item/urms/1.jpg',
            title: 'Высококвалифицированный и надежный партнер',
            text: '<p>В процессе разработки сайта для Правового бюро «Юристы Москвы» специалистами веб-студии Growwweb согласно технического задания был разработан уникальный и современный дизайн, предложены достойные решения всех поставленных задач, и подготовлена понятная и стабильно работающая система управления сайтом. Все работы были выполнены в установленные сроки и на высоком уровне качества, что позволяет рекомендовать веб-студию Growwweb как высококвалифицированного и надежного партнера в области разработки сайтов.</p>',
            project: 'urms.ru'
          },
          {
            image: '/assets/images/portfolio-item/sevplastidip/1.jpg',
            title: 'Сочно!',
            text: '<p>Вообще огонь!</p>',
            project: 'sevplastidip.ru'
          }
        ]"
        :key="item.image"
      >
        <p class="testimonials-carousel__item-title">{{ item.title }}</p>
        <div class="testimonials-carousel__item-text typography" v-html="item.text"></div>
        <el-rate
          class="testimonials-carousel__el-rate"
          v-model="rate"
          disabled
        ></el-rate>
        <address class="testimonials-carousel__item-project">{{ item.project }}</address>
      </figure>
    </div>
  </section>
</testimonials-carousel>