:root {
  --ElCheckbox__color--text: #212121;
  --ElCheckbox__color--invalid: #F44336;
  --ElCheckbox__color--primary: #FFC107;
}

.el-checkbox {
  position: relative;
  white-space: normal;

  & .el-checkbox__input {
    position: absolute;

    &.is-checked {
      & .el-checkbox__inner {
        border-color: var(--ElCheckbox__color--primary);
        background-color: var(--ElCheckbox__color--primary);
      }

      & + .el-checkbox__label {
        color: var(--ElCheckbox__color--text);
      }
    }
  }

  & .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: var(--ElCheckbox__color--primary);
  }

  & .el-checkbox__inner {
    width: 16px;
    height: 16px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;

    &:hover {
      border-color: var(--ElCheckbox__color--primary);
    }

    &::after {
      top: 2px;
      left: 5px;
      border-width: 1px;
    }
  }

  & .el-checkbox__original {
  }

  & .el-checkbox__label {
    display: block;
    padding-left: 26px;
    color: var(--ElCheckbox__color--text);
    font-family: Formular;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
}
