.el-radio {
  position: relative;
  padding-left: 26px;

  &.radio {
    margin-left: 0;
  }

  & .el-radio__input {
    position: absolute;
    top: 4px;
    left: 0;

    &.is-checked {
    }
  }

  & .el-radio__inner {
    width: 16px;
    height: 16px;
    border: 1px solid #0062cd !important;
    background-color: #fff !important;

    &::after {
      width: 8px;
      height: 8px;
      background-color: #0062cd !important;
    }
  }

  & .el-radio__original {
  }

  & .el-radio__label {
    display: block;
    padding: 0;
  }
}
