{% macro FormQuestion() %}
<!-- form-question -->
<form-question
  action="/assets/forms/form-question.php"
  inline-template
  v-cloak
>
  <form
    class="form-question"
    @submit.prevent="validateBeforeSubmit('form-question');"
    data-vv-scope="form-question"
    :action="action"
    novalidate
  >

    <transition
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      mode="out-in"
    >

      <div
        class="form-question__content-wrap"
        v-if="!success"
      >
        <label for="" class="form-question__title">Давайте общаться :)</label>
        <div class="form-question__fieldset">
          <input
            :class="{
              'form-question__field': true,
              'shake': shake && errors.has('form-question.EMAIL'),
              'animated': shake && errors.has('form-question.EMAIL')
            }"
            data-vv-delay="10000"
            v-model="formData.EMAIL"
            placeholder="Ваш e-mail"
            name="EMAIL"
            type="email"
            v-validate="'required|email'"
          >
          <textarea
            class="form-question__textarea"
            placeholder="Сообщение"
            v-model="formData.MESSAGE"
            name="MESSAGE"
          ></textarea>
          <div class="form-question__footer">
            <el-checkbox
              class="form-question__el-checkbox"
              v-model="confirmPolicy"
            >
              Даю согласие на обработку, хранение и распространение
              <button
                class="form-question__open-modal-button"
                type="button"
                @click="showModal({content: 'privacy-policy'});"
              >персональных данных</button>
            </el-checkbox>
            <button
              class="form-question__send-button"
              type="button"
              @click="validateBeforeSubmit('form-question');"
              :disabled="!confirmPolicy"
            ></button>
          </div>
        </div>
      </div>

      <figure
        class="form-question__success"
        v-else
      >
        <p class="form-question__title">Спасибо за вопрос!</p>
        <p class="form-question__success-text">Я свяжусь с Вами в самое ближайшее время.</p>
      </figure>

    </transition>

  </form>

</form-question>
<!-- /form-question -->
{% endmacro %}