.form-question {
  position: relative;
  width: 100%;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: var(--App__boxShadow);
}

.form-question__content-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.form-question__title {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.form-question__fieldset {
  width: 100%;
}

.form-question__field {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
  border-left: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
}

.form-question__textarea {
  width: 100%;
  height: 8em;
  margin-bottom: 40px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
  border-left: none;
  font-size: 14px;
}

.form-question__status {
  overflow: hidden;
  height: 43px;
  padding-bottom: 20px;
  transition-duration: .5s;
  text-align: center;
  opacity: 1;
  color: #db5e67;
  font-size: 12px;
  line-height: 23px;

  &--animation {
    &--enter {
      height: 0;
      padding-bottom: 0;
      opacity: 0;
    }

    &--leave-active {
      height: 0;
      padding-bottom: 0;
      opacity: 0;
    }
  }
}

.form-question__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-question__el-checkbox {
  max-width: 420px;
  text-align: left;
}

.form-question__open-modal-button {
  color: #FFC107;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: currentColor;
  }
}

.form-question__send-button {
  display: block;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #FFC107;
  background-image: url(../images/form-question.send.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: var(--App__boxShadow);
}

.form-question__success {
  position: relative;
  padding: 190px 40px 40px;
  animation-duration: .4s;
  background-image: url(../images/form-question.success.svg);
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: auto 110px;
}

.form-question__success-title {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.form-question__success-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
