<nav
  class="main-menu"
  :data-fixed="data.isFixed"
  v-cloak
>
  <div class="main-menu__content-wrap">
    <div class="main-menu__content">
      <a
        class="main-menu__logo"
        href="/"
      >
        <span v-for="letter in 'ALEXLIT.GITLAB.IO'">{{ letter }}</span>
      </a>
      <div
        :class="{
          'main-menu__links-wrap': true,
          'main-menu__links-wrap--active': data.isActive
        }"
      >
        <!-- if page === 'main' -->
        <template v-if="page === 'main'">
          <button
            class="main-menu__link"
            v-scroll-to="'.work-experience'"
            @click="changeActiveState(false)"
          >Опыт работы</button>
          <button
            class="main-menu__link"
            v-scroll-to="'.received-sertificates'"
            @click="changeActiveState(false)"
          >Сертификаты</button>
          <button
            class="main-menu__link"
            v-scroll-to="'.recent-projects'"
            @click="changeActiveState(false)"
          >Портфолио</button>
        </template>
        <!-- /if page === 'main' -->
        <!-- if page === 'portfolio-item' -->
        <template v-else-if="page === 'portfolio-item'">
          <button
            class="main-menu__link"
            v-scroll-to="'.technologies-slideshow'"
            @click="changeActiveState(false)"
          >Технологии</button>
          <button
            class="main-menu__link"
            v-scroll-to="'.similar-projects'"
            @click="changeActiveState(false)"
          >Похожие проекты</button>
        </template>
        <!-- /if page === 'portfolio-item' -->
        <div
          class="main-menu__social-wrap"
          v-if="$mq === 'mobile'"
        >

          <social-links></social-links>

        </div>
      </div>
      <button
        :class="{
          'main-menu__hamburger': true,
          'main-menu__hamburger--active': data.isActive,
        }"
        type="button"
        v-if="$mq === 'mobile'"
        @click="changeActiveState()"
      ></button>
    </div>
  </div>
</nav>