.main-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateZ(0);

  &[data-fixed] {
    box-shadow: 0 0 12px color(#212121 alpha(.1));
  }

  @nest body[style*="padding-right: 17px"] & {
    width: calc(100% - 17px);
  }
}

.main-menu__content-wrap {
  width: 100%;
  padding: 20px 10px;
  transition-duration: .4s;
  background-color: transparent;

  @media screen and (--mobile) {
    padding: 0;
    background-color: #fff;
  }

  @nest .main-menu[data-fixed] & {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, .9);

    @media screen and (--mobile) {
      padding: 0;
      background-color: #fff;
    }

    @supports (backdrop-filter: blur(0)) {
      backdrop-filter: blur(5px);
    }
  }
}

.main-menu__content {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.main-menu__logo {
  position: relative;
  z-index: 2;
  display: flex;
  transition-duration: 0s;
  letter-spacing: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 48px;

  @media screen and (--mobile) {
    padding-left: 10px;
    letter-spacing: 4px;
    color: #212121;
    font-size: 14px;
  }

  &:hover {
    color: #e6a23c;
  }

  & span {
    position: relative;
    display: block;
    transition-duration: .4s;

    @for $i from 1 to 17 {
      &:nth-child($i) {
        transition-delay: calc(.015s * $(i));
      }
    }
  }

  @nest .main-menu[data-fixed] & {
    color: #212121;

    &:hover {
      color: #e6a23c;
    }
  }
}

.main-menu__links-wrap {
  position: relative;
  display: flex;
  transition-duration: .4s;

  @media screen and (--mobile) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    transition-delay: .4s;
    transform: translateY(-100%);
    background-color: color(#fff alpha(0));
    box-shadow: 0 100vh 0 color(#fff alpha(0));

    &--active {
      transition-delay: 0s;
      transform: translateY(0);
      background-color: #fff;
      box-shadow: 0 100vh 0 #fff;
    }
  }
}

.main-menu__link {
  display: block;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  box-shadow: inset 0 -4px 0 transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;

  @media screen and (--mobile) {
    padding: 0 10px !important;
    transition-delay: 0s;
    transform: translateY(48px);
    letter-spacing: initial;
    opacity: 0;
    color: #212121;

    @for $i from 1 to 10 {
      &:nth-last-child($i) {
        transition-delay: calc(.04s * ($(i) - 1));
      }
    }
  }

  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:hover {
    color: #e6a23c;
  }

  @nest .main-menu__links-wrap--active & {
    @media screen and (--mobile) {
      transform: translateY(0);
      opacity: 1;

      @for $i from 1 to 10 {
        &:nth-child($i) {
          transition-delay: calc(.4s + (.04s * ($(i) - 1)));
        }
      }
    }
  }

  @nest .main-menu[data-fixed] & {
    color: #212121;

    &:hover {
      color: #e6a23c;
    }
  }
}

.main-menu__social-wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  transition-duration: .4s;
  opacity: 0;
  filter: invert(1);

  @nest .main-menu__links-wrap--active & {
    @media screen and (--mobile) {
      transition-delay: .4s;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.main-menu__hamburger {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  transition-duration: 0s;
  background-image: url('../images/main-menu.menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;

  &--active {
    background-image: url('../images/main-menu.close.svg');
  }
}
