.portfolio-list {
  position: relative;
  width: 100%;
  background-color: #fafafa;
}

.portfolio-list__content-wrap {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.portfolio-list__items-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.portfolio-list__item {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: calc(50% - 10px);
  transition-duration: .4s;
  transition-property: box-shadow transform;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: var(--App__boxShadow);
  will-change: box-shadow transform;

  @media screen and (--mobile) {
    display: block;
    width: 100%;
  }

  &:hover {
    box-shadow: 5px 8px 20px rgba(0, 0, 0, .1);
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (--mobile) {
      margin-bottom: 10px;
    }
  }
}

.portfolio-list__item-image-wrap {
  position: relative;
  overflow: hidden;
  width: calc(50% - 20px);
  background-color: #cfd8dc;
  background-image: url('../images/portfolio-list.placeholder.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% auto;

  @media screen and (--mobile) {
    width: 100%;
    height: calc((100vmin * 3 / 4) - 20px);
  }
}

.portfolio-list__item-image {
  display: block;
  width: 100%;
  height: 100%;
  transition-duration: .4s;
  transform: none;
  opacity: 1;
  object-position: center;
  object-fit: cover;

  &:not([src]) {
    opacity: 0;
  }

  &.loading {
    opacity: 0;
    filter: blur(5px);
  }

  &.loaded {
    opacity: 1;
    filter: none;
  }
}

.portfolio-list__item-caption {
  display: flex;
  flex-direction: column;
  width: calc(50% + 50px);
  padding: 20px;

  @media screen and (--mobile) {
    width: 100%;
    padding: 20px 10px;
  }
}

.portfolio-list__item-slug {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.portfolio-list__item-date {
  display: block;
  margin-bottom: 10px;
  opacity: .8;
  font-size: 12px;
}

.portfolio-list__item-text {
  margin-bottom: 10px;
  font-size: 14px;
}

.portfolio-list__item-type {
  margin-bottom: 20px;
  font-size: 12px;

  & strong {
    font-weight: 700;
  }
}

.portfolio-list__item-readmore {
  align-self: flex-end;
  margin-top: auto;

  @media screen and (--mobile) {
    align-self: flex-start;
  }
}
