<section class="portfolio-list" v-cloak>
  <div class="portfolio-list__content-wrap">
    <div class="portfolio-list__items-wrap">
      <figure
        v-for="item, index in db"
        class="portfolio-list__item"
        :key="index"
      >
        <div class="portfolio-list__item-image-wrap">
          <img
            :data-src="`/assets/images/portfolio-item/${item.slug}/1.jpg`"
            :alt="item.text"
            class="portfolio-list__item-image"
          >
        </div>
        <figcaption class="portfolio-list__item-caption">
          <p class="portfolio-list__item-slug">{{ item.slug|formatName }}</p>
          <time class="portfolio-list__item-date">Год разработки: {{ item.date }}</time>
          <figcaption class="portfolio-list__item-text">{{ item.text }}</figcaption>
          <p class="portfolio-list__item-type">Тип проекта: <strong>{{ item.type }}</strong></p>
          <a
            :class="{
              'portfolio-list__item-readmore': true,
              'el-button': true,
              'el-button--success': true
            }"
            :href="`/portfolio.html?slug=${item.slug}`"
          >Подробнее</a>
        </figcaption>
      </figure>
    </div>
  </div>
</section>