.simple-parallax {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 640px;
  min-height: 240px;
  cursor: pointer;

  @media screen and (--mobile) {
    height: calc(50vmin);
  }

  &::before {
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    box-shadow: var(--App__boxShadow);
  }

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    box-shadow: 0 -3px 7px rgba(0, 0, 0, .1);
  }

  & > [id^='jarallax-container'] {
    top: -20px !important;
    left: -20px !important;
    width: calc(100% + 40px) !important;
    height: calc(100% + 40px) !important;
    /* transition-duration: 1s;
    filter: blur(.3px); */
  }

  /* &--blur {
    & > [id^='jarallax-container'] {
      filter: blur(5px);
    }
  } */
}
