.el-tabs {
  & .el-tabs__header {
    margin-bottom: 40px;
    border-bottom: 5px solid #000;

    @media screen and (--mobile) {
      width: calc(100% + (10px * 2));
      margin-right: -10px;
      margin-bottom: 30px;
      margin-left: -10px;
    }
  }

  & .el-tabs__nav-wrap {
    @media screen and (--mobile) {
      padding: 0;
    }

    &.is-scrollable {
      padding: 0;
    }
  }

  & .el-tabs__nav-prev {
    display: none;
  }

  & .el-tabs__nav-next {
    display: none;
  }

  & .el-tabs__nav-scroll {
    @media screen and (--mobile) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  & .el-tabs__nav {
  }

  & .el-tabs__active-bar {
    display: none;
  }

  & .el-tabs__item {
    padding: 0 15px;
    transition-duration: .4s;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;

    &:nth-child(2) {
      padding-left: 0;

      @media screen and (--mobile) {
        padding-left: 10px !important;
      }
    }

    &:last-child {
      padding-right: 0;

      @media screen and (--mobile) {
        padding-right: 10px !important;
      }
    }

    &:hover {
      color: #f25832;
    }
  }

  & .is-active {
    color: #f25832;
  }

  & .resize-triggers {
  }

  & .expand-trigger {
  }

  & .contract-trigger {
  }

  & .el-tabs__content {
  }

  & .el-tab-pane {
  }
}
