{% macro PrivacyPolicy() %}
<!-- privacy-policy -->
<privacy-policy inline-template v-cloak>
  <article
    :class="[
      'privacy-policy',
      'typography'
    ]"
  >
    <h2>Конфиденциальность и&nbsp;защита информации</h2>
    <ol>
      <li>Персональные данные Пользователя/Покупателя обрабатывается в&nbsp;соответствии с&nbsp;ФЗ&nbsp;&laquo;О&nbsp;персональных данных&raquo; &#8470;&nbsp;152-ФЗ.</li>
      <li>При регистрации на&nbsp;Сайте Пользователь предоставляет следующую информацию: имя, адрес электронной почты.</li>
      <li>Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на&nbsp;их&nbsp;обработку Продавцом, в&nbsp;том числе в&nbsp;целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в&nbsp;рамках настоящей Публичной оферты, продвижения Продавцом товаров и&nbsp;услуг, проведения электронных и&nbsp;sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки товара Покупателям, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/ Покупателей, контроля удовлетворенности Посетителя Сайта/Пользователя/Покупателя, а&nbsp;также качества услуг, оказываемых Продавцом.</li>
      <li>
        Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с&nbsp;использованием средств автоматизации или без использования таких средств с&nbsp;персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в&nbsp;том числе передачу третьим лицам, не&nbsp;исключая трансграничную передачу, если необходимость в&nbsp;ней возникла в&nbsp;ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
        <ol>
          <li>Продавец имеет право отправлять информационные, в&nbsp;том числе рекламные сообщения, на&nbsp;электронную почту и&nbsp;мобильный телефон Пользователя/Покупателя с&nbsp;его согласия, выраженного посредством совершения им&nbsp;действий, однозначно идентифицирующих этого абонента и&nbsp;позволяющих достоверно установить его волеизъявление на&nbsp;получение сообщения. Пользователь/Покупатель вправе отказаться от&nbsp;получения рекламной и&nbsp;другой информации без объяснения причин отказа путем информирования о&nbsp;своем отказе посредством направления соответствующего заявления на&nbsp;электронный адрес Продавца: alex.lit@outlook.com Сервисные сообщения, информирующие Пользователя/Покупателя о&nbsp;заказе и&nbsp;этапах его обработки, отправляются автоматически и&nbsp;не&nbsp;могут быть отклонены Пользователем/Покупателем.</li>
          <li>По&nbsp;вопросам сбора, обработки и&nbsp;использования ваших персональных данных, выдачи информации, внесения изменений, блокировки или удаления данных, а&nbsp;также отзыва выданных разрешений пишите на&nbsp;электронную почту: alex.lit@outlook.com</li>
        </ol>
      </li>
      <li>Продавец вправе использовать технологию &laquo;cookies&raquo;. &laquo;Cookies&raquo; не&nbsp;содержат конфиденциальную информацию. Посетитель&nbsp;/ Пользователь&nbsp;/ Покупатель настоящим дает согласие на&nbsp;сбор, анализ и&nbsp;использование cookies, в&nbsp;том числе третьими лицами для целей формирования статистики и&nbsp;оптимизации рекламных сообщений.</li>
      <li>Продавец получает информацию об&nbsp;ip-адресе посетителя Сайта alexlit.gitlab.io. Данная информация не&nbsp;используется для установления личности посетителя.</li>
      <li>Продавец не&nbsp;несет ответственности за&nbsp;сведения, предоставленные Пользователем/Покупателем на&nbsp;Сайте в&nbsp;общедоступной форме.</li>
      <li>Продавец вправе осуществлять записи телефонных разговоров с&nbsp;Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к&nbsp;информации, полученной в&nbsp;ходе телефонных переговоров, и/или передачу ее&nbsp;третьим лицам, не&nbsp;имеющим непосредственного отношения к&nbsp;исполнению Заказов, в&nbsp;соответствии с&nbsp;п.&nbsp;4&nbsp;ст.&nbsp;16&nbsp;Федерального закона &laquo;Об&nbsp;информации, информационных технологиях и&nbsp;о&nbsp;защите информации&raquo;.</li>
    </ol>
  </article>
</privacy-policy>
<!-- /privacy-policy -->
{% endmacro %}