<!-- work-frame -->
<transition name="el-fade-in" mode="in-out">
  <section
    class="work-frame"
    v-if="isActive"
    :data-active="isActive"
  >
    <header class="work-frame__header">
      <nav class="work-frame__content-wrap">
        <a
          class="work-frame__logo"
          href="/"
        >
          <span v-for="letter in 'ALEXLIT.GITLAB.IO'">{{ letter }}</span>
        </a>
        <span class="work-frame__info">{{ currentItem.slug|formatName }}</span>
        <button
          class="work-frame__close"
          type="button"
          @click="setFrameVisibility(false)"
        ></button>
      </nav>
    </header>
    <iframe
      class="work-frame__iframe"
      :src="currentItem.link"
    ></iframe>

    <ui-spinner
      :style="{ filter: 'saturate(2)' }"
      :color="
        currentItem.colors.DarkMuted
          ? `rgba(
            ${currentItem.colors.DarkMuted.r},
            ${currentItem.colors.DarkMuted.g},
            ${currentItem.colors.DarkMuted.b},
            1
          )`
          : '#212121'
      "
      :size="80"
      :random="true"
    ></ui-spinner>

  </section>
</transition>
<!-- /work-frame -->