.work-frame {
  position: fixed !important;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  padding: 0;
  cursor: default;
  transition-duration: .4s;
  background-color: #fff;
}

.work-frame__header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 10px;
  padding-right: 27px;
  box-shadow: var(--App__boxShadow);

  @media screen and (--mobile) {
    padding: 0;
  }
}

.work-frame__content-wrap {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 60px;
}

.work-frame__logo {
  display: flex;
  margin-right: 20px;
  transition-duration: 0s;
  white-space: nowrap;
  letter-spacing: 6px;
  color: #212121;
  font-size: 1rem;
  font-weight: 700;
  line-height: 48px;
  perspective: 600;
  perspective-origin: left;

  @media screen and (--mobile) {
    padding-left: 10px;
    letter-spacing: 4px;
    font-size: 14px;
  }

  & span {
    position: relative;
    display: block;
    transition-duration: .4s;

    @for $i from 1 to 17 {
      &:nth-child($i) {
        transition-delay: calc(.015s * $(i));
      }
    }
  }

  &:hover {
    color: #e6a23c;
  }
}

.work-frame__info {
  flex-grow: 1;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 700;

  @media screen and (--mobile) {
    display: none;
  }
}

.work-frame__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  margin-left: auto;
  background-color: #f44336;
  background-image: url('../images/work-frame.close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% auto;

  &:hover {
    background-color: #e57373;
  }
}

.work-frame__iframe {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100% - 49px);
  border: none;
}
