.el-input-number {
  position: relative;
  position: relative;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid rgba(54, 55, 56, .2);
  border-radius: 3px;

  & .el-input-number__decrease {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 19px;
    border-left: 1px solid rgba(54, 55, 56, .2);
    background-image: url(../images/el-input-number.arr.down.svg);
    background-repeat: no-repeat;
    background-position: center;

    &.is-disabled {
    }
  }

  & .el-icon-minus {
    display: none;
  }

  & .el-input-number__increase {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 19px;
    border-left: 1px solid rgba(54, 55, 56, .2);
    background-image: url(../images/el-input-number.arr.up.svg);
    background-repeat: no-repeat;
    background-position: center;

    &.is-disabled {
    }
  }

  & .el-icon-plus {
    display: none;
  }

  & .el-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & .el-input__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 30px !important;
    padding-left: 5px !important;
    text-align: center;
    color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}