.el-date-editor {
  &.el-input {
    width: 100%;
  }

  &.el-range-editor {
    &.is-active {
      border-color: #000;

      &:hover {
        border-color: #000;
      }
    }
  }

  & .el-date-editor--month {
  }

  & .el-input__icon {
  }

  & .el-icon-date {
  }

  &.el-input__inner {
    width: 100%;
    height: 50px;
    padding: 0 20px 0 15px;
    cursor: pointer;
    color: #000;
    border-color: #b2b2b2;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    line-height: 21px;
  }

  & .el-range-input {
    color: #000;

    &::-webkit-input-placeholder {
      color: #000 !important;
    }

    &::-moz-placeholder {
      color: #000 !important;
    }

    &:-moz-placeholder {
      color: #000 !important;
    }

    &:-ms-input-placeholder {
      color: #000 !important;
    }
  }

  & .el-input__icon {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;

    &.el-icon-date {
      width: 50px;
      height: 48px;
      cursor: pointer;
      border-left: 1px solid #b2b2b2;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url(../images/el-input.calendar.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }
    }
  }
}
