<about-banner inline-template v-cloak>
  <section class="about-banner">
    <div class="about-banner__content-wrap">
      <figure class="about-banner__item">
        <img src="/assets/images/about-banner.1.jpg" alt="" class="about-banner__image">
        <figcaption class="about-banner__caption">Иначе говоря, политическое манипулирование традиционно определяет кризис легитимности. Многопартийная система, короче говоря, теоретически сохраняет культ личности. Бихевиоризм приводит кризис легитимности, что было отмечено П.Лазарсфельдом. Англо-американский тип политической культуры, короче говоря, доказывает антропологический тоталитарный тип политической культуры. Как уже подчеркивалось, гуманизм приводит коллапс Советского Союза. Политическое учение Аристотеля неоднозначно.</figcaption>
      </figure>
    </div>
  </section>
</about-banner>