<about-gallery inline-template v-cloak>
  <section class="about-gallery">
    <div class="about-gallery__content-wrap">
      <div class="about-gallery__items-wrap">
        <img src="/assets/images/about-gallery.1.jpg" alt="" class="about-gallery__item">
        <img src="/assets/images/about-gallery.2.jpg" alt="" class="about-gallery__item">
        <img src="/assets/images/about-gallery.3.jpg" alt="" class="about-gallery__item">
        <img src="/assets/images/about-gallery.4.jpg" alt="" class="about-gallery__item">
      </div>
    </div>
  </section>
</about-gallery>