<app-breadcrumbs inline-template v-cloak>
  <nav class="app-breadcrumbs">
    <div class="app-breadcrumbs__content-wrap"><a href="#" class="app-breadcrumbs__item">СПЕЦТЕХНИКА</a> <a href="#" class="app-breadcrumbs__item">ЭКСКАВАТОРЫ</a></div>
  </nav>
</app-breadcrumbs>