<app-header inline-template v-cloak>
  <section class="app-header">
    <div class="app-header__content-wrap">
      <a class="app-header__logo" href="/">
        <img class="app-header__logo-image" :src="$mq !== 'mobile'? '/assets/images/app-header.logo.svg': '/assets/images/app-header.logo@mobile.svg'" alt="">
      </a>
      <div class="app-header__menus-wrap" :data-hidden="$mq === 'mobile' && !showMobileMenu">
        <address class="app-header__contacts" v-if="$mq ==='mobile'"><a href="tel:" class="app-header__phone">8 (495) 000-00-00</a>
          <button class="app-header__calback-button" type="button" @click="setSuccessState(false);showModal('form-callback');">Перезвоните мне</button> <a href="maito:zakaz@bin-tel.ru" class="app-header__email">zakaz@bin-tel.ru</a></address>
        <nav class="app-header__menu">
          <a :class="{'app-header__menu-item': true,'app-header__menu-item--active':false}" href="about.html">
            <span class="app-header__menu-item-label">О компании</span>
          </a>
          <a :class="{'app-header__menu-item': true,'app-header__menu-item--active':false}" href="faq.html">
            <span class="app-header__menu-item-label">Вопрос-ответ</span>
          </a>
          <a :class="{'app-header__menu-item': true,'app-header__menu-item--active':false}" href="content-page.html">
            <span class="app-header__menu-item-label">Условия аренды</span>
          </a>
          <a :class="{'app-header__menu-item': true,'app-header__menu-item--active':false}" href="contacts.html">
            <span class="app-header__menu-item-label">Контакты</span>
          </a>
          <a :class="{'app-header__menu-item': true,'app-header__menu-item--active':false}" href="http://vin-tel.ru" target="_blank">
            <span class="app-header__menu-item-label">Вентиляция</span>
          </a>
        </nav>
        <div class="app-header__app-menu-wrap" v-if="$mq === 'mobile'">
          <app-menu inline-template v-cloak>
            <nav class="app-menu">
              <div class="app-menu__content-wrap"><a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Автокраны</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Самосвалы</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Экскаваторы</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Катки</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Манипуляторы</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Бульдозеры</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Тралы</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#">Погрузчики</a> <a class="app-menu__readmore" href="#" v-if="$mq !== 'mobile'">Вся техника</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#" v-if="$mq === 'mobile'">Борт. полуприцепы</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#" v-if="$mq === 'mobile'">ФРЕЗА</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#" v-if="$mq === 'mobile'">Бетононасос</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#" v-if="$mq === 'mobile'">Бетономешалки</a> <a :class="{ 'app-menu__item': true, 'app-menu__item--active': false }" href="#" v-if="$mq === 'mobile'">Асфальтоукладчики</a></div>
            </nav>
          </app-menu>
        </div><a href="http://krown.cc" class="app-header__developer" target="_blank" v-if="$mq === 'mobile'">Разработка и поддержка</a></div>
      <address class="app-header__contacts" v-if="$mq !=='mobile'"><a href="tel:" class="app-header__phone">8 (495) 000-00-00</a>
        <button class="app-header__calback-button" type="button" @click="setSuccessState(false);showModal('form-callback');">Перезвоните мне</button> <a href="maito:zakaz@bin-tel.ru" class="app-header__email">zakaz@bin-tel.ru</a></address>
      <button :class="{'app-header__hamburger': true,'app-header__hamburger--close': showMobileMenu,}" type="button" v-if="$mq === 'mobile'" @click="showMobileMenu = !showMobileMenu"></button>
    </div>
  </section>
</app-header>