<app-article inline-template v-cloak>
  <article class="app-article">
    <div class="app-article__content-wrap typography">
      <figure class="app-article__promo">
        <div class="app-article__promo-content">
          <p>Однако ни имеющиеся современные методы гидравлического расчета трубопроводов, в том числе с использованием специальных компьютерных программ, ни лабораторные способы оценки гидравлической эффективности не позволяют получать точных зависимо- стей эффективности от концентрации присадки — для каждого трубопровода и каждой присадки данная ве- личина устанавливается экспериментально. В практике встречаются случаи довольно значительных отклонений ожидаемых и фактических технологических параметров трубопроводной перекачки от расчетных значений, вплоть до полного отсутствия эффекта.</p>
        </div>
        <figcaption class="app-article__promo-caption">
          <img class="app-article__promo-image" src="/assets/images/app-article.1.jpg" alt="">
        </figcaption>
      </figure>
      <div class="app-article__short-wrapper">
        <h2>Условия аренды спецтехники</h2>
        <p>Является ключевым моментом. Однако ни имеющиеся современные методы гидравлического расчета трубопроводов, в том числе с использованием специальных компьютерных программ, ни лабораторные способы оценки гидравлической эффективности не позволяют получать точных зависимо- стей эффективности от концентрации присадки — для каждого трубопровода и каждой присадки данная ве- личина устанавливается экспериментально. В практике встречаются случаи довольно значительных отклонений ожидаемых и фактических технологических параметров трубопроводной перекачки от расчетных значений, вплоть до полного отсутствия эффекта.</p>
        <h3>Условия аренды:</h3>
        <ul>
          <li>Погрузчик JCB 3CX может выполнить работы как в день, так и в ночь</li>
          <li>Работаем по Москве и Подмосковью</li>
          <li>Предлагаем аренду спецтехники с нашим водителем(экипажем)</li>
          <li>Окажем услуги в день работы, но не позже, чем за 2 часа до начала мероприятия</li>
          <li>Оформляем предварительные заказы на желаемую дату</li>
          <li>Скидки при долгосрочной аренде и регулярных заказах</li>
        </ul>
        <p>Во-вторых, современные драйве- ры роста добычи — Ванкорское и Ярудейское месторождения, находя- щиеся в Западной Сибири, — к сожа- лению, уже вышли на свой производ- ственный пик, и началось ожидае- мое снижение показателей. Других проектов, способных обеспечить су- щественный прирост добычи в стра- не, увы, нет. Вероятность разработки труднодоступных арктических шель- фовых месторождений (освоение ко- торых к тому же связано с высокими экологическими рисками) в ближай- шей и среднесрочной перспективе крайне мала.</p>
      </div>
    </div>
  </article>
</app-article>