<app-footer inline-template v-cloak>
  <section class="app-footer">
    <div class="app-footer__content-wrap">
      <div class="app-footer__info">
        <a href="/" class="app-footer__logo">
          <img src="/assets/images/app-footer.logo.svg" alt="" class="app-footer__logo-image">
        </a>
        <p class="app-footer__logo-caption">Аренда спецтехники
          <br>в Москве и МО</p>
      </div>
      <nav class="app-footer__header-menu"><a :class="{'app-footer__header-menu-item': true,'app-footer__header-menu-item--active': false}" href="#" v-if="$mq !== 'mobile'">О компании</a> <a :class="{'app-footer__header-menu-item': true,'app-footer__header-menu-item--active': false}" href="#" v-if="$mq !== 'mobile'">Вопрос-ответ</a> <a :class="{'app-footer__header-menu-item': true,'app-footer__header-menu-item--active': false}" href="#" v-if="$mq === 'mobile'">Каталог спецтехники</a> <a :class="{'app-footer__header-menu-item': true,'app-footer__header-menu-item--active': false}" href="#">Условия аренды</a> <a :class="{'app-footer__header-menu-item': true,'app-footer__header-menu-item--active': false}" href="#">Контакты</a></nav>
      <nav class="app-footer__main-menu" v-if="$mq !== 'mobile'"><a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Автокраны</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Самосвалы</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Экскаваторы</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Катки</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Манипуляторы</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Бульдозеры</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Тралы</a> <a :class="{'app-footer__main-menu-item': true,'app-footer__main-menu-item--active': false}" href="#">Погрузчики</a></nav>
      <address class="app-footer__contacts"><a href="tel:" class="app-footer__phone">8 (495) 000-00-00</a>
        <button class="app-footer__calback-button" type="button" @click="setSuccessState(false);showModal('form-callback');">Перезвоните мне</button> <a href="http://krown.cc" class="app-footer__developer" target="_blank">Разработка и поддержка</a></address>
    </div>
  </section>
</app-footer>