<contacts-info inline-template v-cloak>
  <section class="contacts-info">
    <address class="contacts-info__content-wrap">
      <div class="contacts-info__col">
        <p class="contacts-info__col-title">Телефон</p><a href="tel:+79005405050" class="contacts-info__phone">+7 (900) 540-50-50</a> <a href="#" class="contacts-info__download">Скачать Реквизиты</a></div>
      <div class="contacts-info__col">
        <p class="contacts-info__col-title">Адрес</p>
        <p class="contacts-info__paragraph">г. Москва,</p>
        <p class="contacts-info__paragraph">ул. Ленина 56</p>
      </div>
      <div class="contacts-info__col">
        <p class="contacts-info__col-title">Время работы</p>
        <p class="contacts-info__paragraph">09:00 - 18:00</p>
      </div>
      <div class="contacts-info__col">
        <p class="contacts-info__col-title">E-mail</p><a href="mailto:hello@vintel.ru" class="contacts-info__email">hello@vintel.ru</a></div>
    </address>
    <address class="contacts-info__map-wrap">
      <ui-spinner layout="chasing-dots" color="#215ed4" :size="40"></ui-spinner>
      <yandex-map :coords="[55.75399399999374,37.62209300000001]" zoom="14" style="width:100%;height:100%" :behaviors="['default']" :controls="['zoomControl']" map-type="map" @map-was-initialized="" :cluster-options="{1: {clusterDisableClickZoom: true}}" :placemarks="[{coords: [55.75399399999374,37.62209300000001],properties: {},clusterName: '1',callbacks: { click: function() {} }}]"></yandex-map>
    </address>
  </section>
</contacts-info>