<faq-answers initial-active-tab="Каковы условия аренды спецтехники?" inline-template v-cloak>
  <section class="faq-answers">
    <div class="faq-answers__content-wrap">
      <header class="faq-answers__title">Условия работы</header>
      <el-collapse class="faq-answers__el-collapse" v-model="activeTab" accordion>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Каковы условия аренды спецтехники?" name="Каковы условия аренды спецтехники?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Какие формы оплаты принимаются?" name="00000">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Возможно ли привлечение дополнительной техники после начала работ, при необходимости?" name="Возможно ли привлечение дополнительной техники после начала работ, при необходимости?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Имеются ли скидки для постоянных клиентов?" name="Имеются ли скидки для постоянных клиентов?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Кто несет ответственность за технику во время ее работы?" name="Кто несет ответственность за технику во время ее работы?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
      </el-collapse>
      <header class="faq-answers__title">Оплата и взаиморасчеты</header>
      <el-collapse class="faq-answers__el-collapse" accordion>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Какие формы оплаты принимаются?" name="Какие формы оплаты принимаются?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
        <el-collapse-item class="faq-answers__el-collapse-item" title="Имеются ли скидки для постоянных клиентов?" name="Имеются ли скидки для постоянных клиентов?">
          <p>Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО.
            <br>На сайте подробно описаны возможности ТС и оборудования.
            <br>Менеджер бесплатно консультирует, вникая во все поставленные Вами задачи!
            <br>Так же вы можете обсудить проект непосредственно с архитектором.</p>
        </el-collapse-item>
      </el-collapse>
    </div>
  </section>
</faq-answers>