<form-order action="/assets/forms/form-order.php" inline-template v-cloak>
  <form class="form-order" @submit.prevent="validateBeforeSubmit(scope);" :data-vv-scope="scope" :action="action" novalidate>
    <div class="form-order__content-wrap">
      <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" duration="300" mode="out-in">
        <header class="form-order__heading">
          <div class="form-order__image-wrap" v-if="!success && $mq === 'mobile' || $mq !== 'mobile'">
            <img class="form-order__image" :src="formData.IMAGE" :alt="formData.TITLE">
          </div>
          <div class="form-order__heading-text">
            <p class="form-order__suptitle">заказ спецтехники</p>
            <p class="form-order__title">[[ formData.TITLE ]]</p>
          </div>
        </header>
      </transition>
      <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" duration="300" mode="out-in">
        <div class="form-order__fields-wrap" v-if="!success">
          <div class="form-order__fields-wrap-row">
            <div class="form-order__fields-wrap-col">
              <label for="NAME" class="form-order__label">Имя*:</label>
              <input :class="{'form-order__field': true,'shake animated': shake && errors.has(scope + '.NAME')}" type="text" name="NAME" id="NAME" v-model="formData.NAME" v-validate.disable="'required'" :data-invalid="errors.has(scope + '.NAME')">
              <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                <p class="form-order__policy-error form-order__policy-error--absolute" v-if="errors.has(scope + '.NAME')">Вы не ввели имя</p>
              </transition>
            </div>
            <div class="form-order__fields-wrap-col">
              <label for="ADDRESS" class="form-order__label">Адрес:</label>
              <input class="form-order__field" type="text" name="ADDRESS" id="ADDRESS" v-model="formData.ADDRESS">
            </div>
          </div>
          <div class="form-order__fields-wrap-row">
            <div class="form-order__fields-wrap-col">
              <label for="DATE" class="form-order__label">Дата:</label>
              <input class="form-order__field" type="date" name="DATE" id="DATE" v-model="formData.DATE">
            </div>
            <div class="form-order__fields-wrap-col">
              <label for="PHONE" class="form-order__label">Телефон*:</label>
              <input :class="{'form-order__field': true,'shake animated': shake && errors.has(scope + '.PHONE')}" v-model="formData.PHONE" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__" name="PHONE" id="PHONE" type="tel" @focus="inputmask();" v-validate.disable="{rules: {required: true,regex: /^\+7\s?\([0-9]{3}\)\s?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$/}}" :data-invalid="errors.has(scope + '.PHONE')">
              <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                <p class="form-order__policy-error form-order__policy-error--absolute" v-if="errors.has(scope + '.PHONE')">Вы не ввели номер телефона</p>
              </transition>
            </div>
          </div>
          <div class="form-order__fields-wrap-row">
            <div class="form-order__fields-wrap-col">
              <label for="MESSAGE" class="form-order__label">Комментарий:</label>
              <textarea class="form-order__textarea" name="MESSAGE" id="MESSAGE" v-model="formData.MESSAGE" placeholder="Укажите какие-либо особенности заказа"></textarea>
              <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                <p class="form-order__policy-error form-order__policy-error--absolute" v-if="!agree && tries > 0">Вы не согласились с условиями обработки данных</p>
              </transition>
            </div>
          </div>
          <div class="form-order__fields-wrap-row">
            <el-checkbox class="form-order__el-checkbox" v-model="agree" v-validate.disable="'required'">Я согласен на обработку персональных данных и с условиями <a href="#" target="_blank">политики конфиденциальности</a></el-checkbox>
          </div>
          <footer class="form-order__buttons-wrap">
            <button class="form-order__button" type="send" @submit.prevent="validateBeforeSubmit(scope);">ОТПРАВИТЬ</button>
          </footer>
        </div>
        <figure class="form-order__success" v-else>
          <message-success inline-template v-cloak>
            <section class="message-success">
              <div class="message-success__content-wrap">
                <header class="message-success__title">Ваш заказ оформлен!</header>
                <p class="message-success__caption">Мы свяжемся с вами в самое ближайшее время для уточнения деталей заказа.</p>
              </div>
            </section>
          </message-success>
        </figure>
      </transition>
    </div>
  </form>
</form-order>