<form-callback action="/assets/forms/form-callback.php" inline-template v-cloak>
  <form class="form-callback" @submit.prevent="validateBeforeSubmit(scope);" :data-vv-scope="scope" :action="action" novalidate>
    <div class="form-callback__content-wrap">
      <div class="form-callback__content">
        <p class="form-callback__suptitle">Обратная связь</p>
        <p class="form-callback__title">Заказать обратный звонок</p>
        <div class="form-callback__conteiner">
          <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" duration="300" mode="out-in">
            <div class="form-callback__text" v-if="!success">
              <p class="form-callback__paragraph">Оставьте ваш номер телефона и мы перезвоним в кратчайшие сроки:</p>
              <div class="form-callback__field-wrap">
                <label for="" class="form-callback__label">Телефон:</label>
                <input :class="{'form-callback__input': true,'shake animated': shake && errors.has(scope + '.PHONE')}" v-model="formData.PHONE" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__" name="PHONE" type="tel" @focus="inputmask();" v-validate.disable="{rules: {required: true,regex: /^\+7\s?\([0-9]{3}\)\s?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$/}}" :data-invalid="errors.has(scope + '.PHONE')">
                <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                  <p class="form-callback__policy-error" v-if="!agree && tries > 0">Вы не согласились с условиями обработки данных</p>
                </transition>
                <el-checkbox class="form-callback__el-checkbox" v-model="agree" v-validate.disable="'required'">Я согласен на обработку персональных данных и с условиями <a href="#" target="_blank">политики конфиденциальности</a></el-checkbox>
              </div>
              <button class="form-callback__button" type="send" @submit.prevent="validateBeforeSubmit(scope);">ОТПРАВИТЬ</button>
            </div>
            <figure class="form-callback__success" v-else>
              <message-success inline-template v-cloak>
                <section class="message-success">
                  <div class="message-success__content-wrap">
                    <header class="message-success__title">Ваш заказ оформлен!</header>
                    <p class="message-success__caption">Мы свяжемся с вами в самое ближайшее время для уточнения деталей заказа.</p>
                  </div>
                </section>
              </message-success>
            </figure>
          </transition>
        </div>
      </div>
    </div>
  </form>
</form-callback>