<form-fast-order action="/assets/forms/form-fast-order.php" inline-template v-cloak>
  <form class="form-fast-order" @submit.prevent="validateBeforeSubmit(scope);" :data-vv-scope="scope" :action="action" novalidate>
    <div class="form-fast-order__content-wrap">
      <div class="form-fast-order__content">
        <p class="form-fast-order__suptitle">Быстрый заказ</p>
        <p class="form-fast-order__title">[[ formData.TITLE ]]</p>
        <div class="form-fast-order__conteiner">
          <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" duration="300" mode="out-in">
            <div class="form-fast-order__image-wrap" v-if="!success && $mq === 'mobile' || $mq !== 'mobile'">
              <img class="form-fast-order__image" :src="formData.IMAGE" :alt="formData.TITLE">
            </div>
          </transition>
          <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" duration="300" mode="out-in">
            <div class="form-fast-order__text" v-if="!success">
              <p class="form-fast-order__paragraph">Оставьте ваш номер телефона и мы перезвоним в кратчайшие сроки:</p>
              <div class="form-fast-order__field-wrap">
                <label for="" class="form-fast-order__label">Телефон:</label>
                <input :class="{'form-fast-order__input': true,'shake animated': shake && errors.has(scope + '.PHONE')}" v-model="formData.PHONE" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__" name="PHONE" type="tel" @focus="inputmask();" v-validate.disable="{rules: {required: true,regex: /^\+7\s?\([0-9]{3}\)\s?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$/}}" :data-invalid="errors.has(scope + '.PHONE')">
                <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                  <p class="form-fast-order__policy-error" v-if="!agree && tries > 0">Вы не согласились с условиями обработки данных</p>
                </transition>
                <el-checkbox class="form-fast-order__el-checkbox" v-model="agree" v-validate.disable="'required'">Я согласен на обработку персональных данных и с условиями <a href="#" target="_blank">политики конфиденциальности</a></el-checkbox>
              </div>
              <button class="form-fast-order__button" type="send" @submit.prevent="validateBeforeSubmit(scope);">ОТПРАВИТЬ</button>
            </div>
            <figure class="form-fast-order__success" v-else>
              <message-success inline-template v-cloak>
                <section class="message-success">
                  <div class="message-success__content-wrap">
                    <header class="message-success__title">Ваш заказ оформлен!</header>
                    <p class="message-success__caption">Мы свяжемся с вами в самое ближайшее время для уточнения деталей заказа.</p>
                  </div>
                </section>
              </message-success>
            </figure>
          </transition>
        </div>
      </div>
    </div>
  </form>
</form-fast-order>