<main-advantages inline-template v-cloak>
  <section class="main-advantages">
    <div class="main-advantages__content-wrap">
      <figure class="main-advantages__item" v-for="item in [{image: '/assets/images/main-advantages.1.svg',caption: 'Выгодные цены'},{image: '/assets/images/main-advantages.2.svg',caption: 'Спец. условия для постоянных клиентов'},{image: '/assets/images/main-advantages.3.svg',caption: 'Возможность привлечения сторонней техники'},{image: '/assets/images/main-advantages.4.svg',caption: 'Пропуск МКАД, ТТК, центр Москвы'},{image: '/assets/images/main-advantages.5.svg',caption: 'Круглосуточный прием заявок'},{image: '/assets/images/main-advantages.6.svg',caption: 'Опытные водители'}]">
        <div class="main-advantages__item-image" :style="{ backgroundImage: 'url(' + item.image + ')' }"></div>
        <figcaption class="main-advantages__item-caption">[[ item.caption ]]</figcaption>
      </figure>
    </div>
  </section>
</main-advantages>