<main-gallery inline-template v-cloak>
  <section class="main-gallery">
    <div class="main-gallery__content-wrap">
      <img src="/assets/images/main-gallery.1.jpg" alt="" class="main-gallery__item">
      <img src="/assets/images/main-gallery.2.jpg" alt="" class="main-gallery__item">
      <img src="/assets/images/main-gallery.3.jpg" alt="" class="main-gallery__item">
      <img src="/assets/images/main-gallery.4.jpg" alt="" class="main-gallery__item">
      <img src="/assets/images/main-gallery.5.jpg" alt="" class="main-gallery__item">
    </div>
  </section>
</main-gallery>