<main-pagination inline-template v-cloak>
  <nav class="main-pagination">
    <div class="main-pagination__content-wrap"><a href="#" class="main-pagination__item main-pagination__item--active">1</a> <a href="#" class="main-pagination__item">2</a> <a href="#" class="main-pagination__item">3</a> <a href="#" class="main-pagination__item">4</a></div>
  </nav>
</main-pagination>