<main-category inline-template v-cloak>
  <section class="main-category">
    <div class="main-category__content-wrap">
      <div class="main-category__items-wrap">
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор JCB BCX Super</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 13000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор-погрузчик NewHolland 115</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 9000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор-погрузчик NewHolland 115'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор JCB BCX Super</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 13000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор-погрузчик NewHolland 115</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 9000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор-погрузчик NewHolland 115'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор JCB BCX Super</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 13000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор-погрузчик NewHolland 115</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 9000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор-погрузчик NewHolland 115'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор JCB BCX Super</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 13000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
        <figure class="main-category__item">
          <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq !== 'mobile'"></div>
          <figcaption class="main-category__item-caption">
            <p class="main-category__item-title">Экскаватор-погрузчик NewHolland 115</p>
            <div class="main-category__item-caption-container">
              <div class="main-category__item-spec">
                <div class="main-category__item-image" style="background-image:url(/assets/images/main-category.1.jpg)" v-if="$mq === 'mobile'"></div>
                <ul class="main-category__item-spec-list">
                  <li>Цена за час - 900 руб.</li>
                  <li>Объем ковша - 1,1/0,4</li>
                  <li>Доп. гидромолот</li>
                  <li>Масса - 8800 кг.</li>
                </ul>
              </div>
              <div class="main-category__item-cost">
                <p class="main-category__item-cost-title">Цена за смену:</p>
                <p class="main-category__item-cost-summary">от [[ 9000 | thousandSeparator ]] руб.</p>
              </div>
              <div class="main-category__item-buttons-wrap">
                <button class="main-category__item-order-button" type="button" @click="setSuccessState(false);setFormData({IMAGE: '/assets/images/main-category.1.jpg',TITLE: 'Экскаватор-погрузчик NewHolland 115'});showModal('form-fast-order');">Быстрый заказ</button> <a href="#" class="main-category__item-readmore">Подробнее</a></div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</main-category>