<main-seo inline-template v-cloak>
  <section class="main-seo">
    <div class="main-seo__content-wrap">
      <p class="main-seo__title">Аренда экскаваторов</p>
      <div class="main-seo__text typography">
        <p>Универсальное техническое мобильное устройство предназначенной для проведения землеройных работ, подъемов различных грузов их перемещением на значительные расстояния, называется экскаватор-погрузчик. Такая многофункциональная машина своим присутствием на строительной площадке может заменить сразу несколько единиц спецтехники. Она одновременно служит классическим фронтальным погрузчиком и выполняет функции, свойственные землеройным машинам. Помимо погрузочно-разгрузочных и транспортировочных действия с помощью экскаватора-погрузчика производится планировка грунтов.</p>
      </div>
    </div>
  </section>
</main-seo>