<main-catalog inline-template v-cloak>
  <section class="main-catalog">
    <div class="main-catalog__content-wrap">
      <div class="main-catalog__items-wrap">
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.1.jpg" alt="Автокраны">
          <span class="main-catalog__item-label">Автокраны</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.2.jpg" alt="Самосвалы">
          <span class="main-catalog__item-label">Самосвалы</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.3.jpg" alt="Экскаваторы">
          <span class="main-catalog__item-label">Экскаваторы</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.4.jpg" alt="Катки">
          <span class="main-catalog__item-label">Катки</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.5.jpg" alt="Манипуляторы">
          <span class="main-catalog__item-label">Манипуляторы</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.6.jpg" alt="Бульдозеры">
          <span class="main-catalog__item-label">Бульдозеры</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.7.jpg" alt="Тралы">
          <span class="main-catalog__item-label">Тралы</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.8.jpg" alt="Погрузчики">
          <span class="main-catalog__item-label">Погрузчики</span>
        </a>
        <a href="#" class="main-catalog__item">
          <img class="main-catalog__item-image" src="/assets/images/main-catalog.9.jpg" alt="Бортовые полуприцепы">
          <span class="main-catalog__item-label">Бортовые полуприцепы</span>
        </a>
      </div>
    </div>
  </section>
</main-catalog>