<main-promo inline-template v-cloak>
  <section class="main-promo">
    <div class="main-promo__content-wrap swiper-conteiner" data-swiper>
      <div class="swiper-wrapper">
        <figure class="main-promo__slide swiper-slide" style="background-image:url(/assets/images/main-promo.1.jpg)">
          <figcaption class="main-promo__slide-caption">
            <p class="main-promo__slide-title">Аренда
              <br>спецтехники</p>
            <p class="main-promo__slide-subtitle">для строительства и перевозок по Москве и Московской области</p><a href="#" class="main-promo__slide-readmore">Каталог спецтехники</a></figcaption>
        </figure>
        <figure class="main-promo__slide swiper-slide" style="background-image:url(/assets/images/main-promo.2.jpg)">
          <figcaption class="main-promo__slide-caption">
            <p class="main-promo__slide-title">Аренда
              <br>спецтехники</p>
            <p class="main-promo__slide-subtitle">для строительства и перевозок по Москве и Московской области</p><a href="#" class="main-promo__slide-readmore">Каталог спецтехники</a></figcaption>
        </figure>
      </div>
      <nav class="main-promo__pagination swiper-pagination" data-swiper-pagination></nav>
    </div>
  </section>
</main-promo>