<message-success inline-template v-cloak>
  <section class="message-success">
    <div class="message-success__content-wrap">
      <header class="message-success__title">Ваш заказ оформлен!</header>
      <p class="message-success__caption">Мы свяжемся с вами в самое ближайшее время для уточнения деталей заказа.</p>
    </div>
  </section>
</message-success>