<page-title inline-template v-cloak>
  <header class="page-title">
    <div class="page-title__content-wrap">
      <h1 class="page-title__heading">Каталог спецтехники</h1>
      <div class="page-title__caption">Компания «Винтел» предоставляет услуги по аренде строительной спецтехники в Москве и МО. На сайте подробно описаны возможности ТС и оборудования.</div>
    </div>
  </header>
</page-title>