<product-gallery inline-template v-cloak>
  <section class="product-gallery">
    <div class="product-gallery__content-wrap">
      <div class="product-gallery__top swiper-container" data-gallery="top">
        <div class="swiper-wrapper">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
          <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
        </div>
      </div>
      <nav class="product-gallery__thumbs swiper-container" data-gallery="thumbs">
        <div class="swiper-wrapper">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
          <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
        </div>
      </nav>
    </div>
  </section>
</product-gallery>