<product-container inline-template v-cloak>
  <section class="product-container">
    <div class="product-container__content-wrap">
      <div class="product-container__row">
        <div class="product-container__gallery-wrap">
          <product-gallery inline-template v-cloak>
            <section class="product-gallery">
              <div class="product-gallery__content-wrap">
                <div class="product-gallery__top swiper-container" data-gallery="top">
                  <div class="swiper-wrapper">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
                    <img class="product-gallery__top-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
                  </div>
                </div>
                <nav class="product-gallery__thumbs swiper-container" data-gallery="thumbs">
                  <div class="swiper-wrapper">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/product-gallery.1.jpg" alt="">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.2.jpg" alt="">
                    <img class="product-gallery__thumbs-item swiper-slide" src="/assets/images/main-promo.1.jpg" alt="">
                  </div>
                </nav>
              </div>
            </section>
          </product-gallery>
        </div>
        <div class="product-container__price-wrap">
          <product-price inline-template v-cloak>
            <section class="product-price">
              <div class="product-price__content-wrap">
                <div class="product-price__table-wrap">
                  <table class="product-price__table">
                    <thead>
                      <tr>
                        <th>Аренда</th>
                        <th>юр. лица
                          <br>+18% НДС</th>
                        <th>физ. лица</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>час</th>
                        <td>1062 руб.</td>
                        <td>900 руб.</td>
                      </tr>
                      <tr>
                        <th>Смена</th>
                        <td>5900 руб.</td>
                        <td>5000 руб.</td>
                      </tr>
                      <tr>
                        <th>Переработка</th>
                        <td>1180 руб.</td>
                        <td>1000 руб.</td>
                      </tr>
                      <tr>
                        <th>1 км. за МКАД</th>
                        <td>50 руб.</td>
                        <td>50 руб.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <footer class="product-price__footer">
                  <button class="product-price__button product-price__button--order" type="button" @click="setSuccessStateFormFastOrder(false);setFormDataFormFastOrder({IMAGE: '/assets/images/product-gallery.1.jpg',TITLE: 'Экскаватор-погрузчик JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button>
                  <button class="product-price__button" type="button" @click="setSuccessStateFormOrder(false);setFormDataFormOrder({IMAGE: '/assets/images/product-gallery.1.jpg',TITLE: 'Экскаватор-погрузчик JCB BCX Super'});showModal('form-order');">Арендовать</button>
                </footer>
              </div>
            </section>
          </product-price>
        </div>
      </div>
      <div class="product-container__row">
        <div class="product-container__spec-wrap">
          <product-spec inline-template v-cloak>
            <section class="product-spec">
              <div class="product-spec__content-wrap">
                <h3 class="product-spec__title">Технические характеристики:</h3>
                <table class="product-spec__table">
                  <tbody>
                    <tr>
                      <th>Классификация</th>
                      <td>Экскаватор-погрузчик/ колесный</td>
                    </tr>
                    <tr>
                      <th>Глубина копания</th>
                      <td>5,53</td>
                    </tr>
                    <tr>
                      <th>Объем ковша, м3</th>
                      <td>1,1-04</td>
                    </tr>
                    <tr>
                      <th>Доп. гидромолот</th>
                      <td>да</td>
                    </tr>
                    <tr>
                      <th>Масса, кг</th>
                      <td>8860</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </product-spec>
        </div>
      </div>
      <div class="product-container__row">
        <div class="product-container__info-wrap">
          <product-info inline-template v-cloak>
            <article class="product-info">
              <div class="product-info__content-wrap">
                <div class="product-info__terms typography">
                  <h3>Условия аренды:</h3>
                  <ul>
                    <li>Погрузчик JCB 3CX может выполнить работы как в день, так и в ночь</li>
                    <li>Работаем по Москве и Подмосковью</li>
                    <li>Предлагаем аренду спецтехники с нашим водителем(экипажем)</li>
                    <li>Окажем услуги в день работы, но не позже, чем за 2 часа до начала мероприятия</li>
                    <li>Оформляем предварительные заказы на желаемую дату</li>
                    <li>Скидки при долгосрочной аренде и регулярных заказах</li>
                  </ul>
                </div>
                <div class="typography">
                  <h3>Описание:</h3>
                  <span></span>
                </div>
                <div class="product-info__caption">
                  <div class="product-info__caption-col typography">
                    <p>«Винтел» сдает в аренду экскаватор-погрузчик JCB 4CX колесного типа, характеризующийся высокой производительностью в своем классе при сниженном на 16–25 % потреблении топлива. Для минимизации расходов клиентам предоставляется выбор между посуточным или почасовым тарифами.</p>
                    <p>Экскаватор-погрузчик JCB 4CX имеет 4 колеса и за счет большого просвета обладает высокой скоростью и маневренностью. Повышенная проходимость обеспечивается за счет особой конструкции мостов и геометрии покрышек. Кабина экскаватора-погрузчика JCB 4CX оснащена ЖК-панелью, на ней отображается точное время работы машины.</p>
                    <p>Техника подходит для выполнения земляных и строительных работ в черте города и в условиях пересеченной местности. Она используется для копания, точного профилирования грунта, погрузочно-разгрузочных работ с сыпучими и штучными грузами. Машина подходит для эксплуатации в любое время года (независимо от климата).</p>
                  </div>
                  <aside class="product-info__caption-col">
                    <img src="/assets/images/product-info.1.jpg" alt="">
                  </aside>
                </div>
              </div>
            </article>
          </product-info>
        </div>
      </div>
    </div>
  </section>
</product-container>