<product-price inline-template v-cloak>
  <section class="product-price">
    <div class="product-price__content-wrap">
      <div class="product-price__table-wrap">
        <table class="product-price__table">
          <thead>
            <tr>
              <th>Аренда</th>
              <th>юр. лица
                <br>+18% НДС</th>
              <th>физ. лица</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>час</th>
              <td>1062 руб.</td>
              <td>900 руб.</td>
            </tr>
            <tr>
              <th>Смена</th>
              <td>5900 руб.</td>
              <td>5000 руб.</td>
            </tr>
            <tr>
              <th>Переработка</th>
              <td>1180 руб.</td>
              <td>1000 руб.</td>
            </tr>
            <tr>
              <th>1 км. за МКАД</th>
              <td>50 руб.</td>
              <td>50 руб.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="product-price__footer">
        <button class="product-price__button product-price__button--order" type="button" @click="setSuccessStateFormFastOrder(false);setFormDataFormFastOrder({IMAGE: '/assets/images/product-gallery.1.jpg',TITLE: 'Экскаватор-погрузчик JCB BCX Super'});showModal('form-fast-order');">Быстрый заказ</button>
        <button class="product-price__button" type="button" @click="setSuccessStateFormOrder(false);setFormDataFormOrder({IMAGE: '/assets/images/product-gallery.1.jpg',TITLE: 'Экскаватор-погрузчик JCB BCX Super'});showModal('form-order');">Арендовать</button>
      </footer>
    </div>
  </section>
</product-price>