<product-spec inline-template v-cloak>
  <section class="product-spec">
    <div class="product-spec__content-wrap">
      <h3 class="product-spec__title">Технические характеристики:</h3>
      <table class="product-spec__table">
        <tbody>
          <tr>
            <th>Классификация</th>
            <td>Экскаватор-погрузчик/ колесный</td>
          </tr>
          <tr>
            <th>Глубина копания</th>
            <td>5,53</td>
          </tr>
          <tr>
            <th>Объем ковша, м3</th>
            <td>1,1-04</td>
          </tr>
          <tr>
            <th>Доп. гидромолот</th>
            <td>да</td>
          </tr>
          <tr>
            <th>Масса, кг</th>
            <td>8860</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</product-spec>