<product-info inline-template v-cloak>
  <article class="product-info">
    <div class="product-info__content-wrap">
      <div class="product-info__terms typography">
        <h3>Условия аренды:</h3>
        <ul>
          <li>Погрузчик JCB 3CX может выполнить работы как в день, так и в ночь</li>
          <li>Работаем по Москве и Подмосковью</li>
          <li>Предлагаем аренду спецтехники с нашим водителем(экипажем)</li>
          <li>Окажем услуги в день работы, но не позже, чем за 2 часа до начала мероприятия</li>
          <li>Оформляем предварительные заказы на желаемую дату</li>
          <li>Скидки при долгосрочной аренде и регулярных заказах</li>
        </ul>
      </div>
      <div class="typography">
        <h3>Описание:</h3>
        <span></span>
      </div>
      <div class="product-info__caption">
        <div class="product-info__caption-col typography">
          <p>«Винтел» сдает в аренду экскаватор-погрузчик JCB 4CX колесного типа, характеризующийся высокой производительностью в своем классе при сниженном на 16–25 % потреблении топлива. Для минимизации расходов клиентам предоставляется выбор между посуточным или почасовым тарифами.</p>
          <p>Экскаватор-погрузчик JCB 4CX имеет 4 колеса и за счет большого просвета обладает высокой скоростью и маневренностью. Повышенная проходимость обеспечивается за счет особой конструкции мостов и геометрии покрышек. Кабина экскаватора-погрузчика JCB 4CX оснащена ЖК-панелью, на ней отображается точное время работы машины.</p>
          <p>Техника подходит для выполнения земляных и строительных работ в черте города и в условиях пересеченной местности. Она используется для копания, точного профилирования грунта, погрузочно-разгрузочных работ с сыпучими и штучными грузами. Машина подходит для эксплуатации в любое время года (независимо от климата).</p>
        </div>
        <aside class="product-info__caption-col">
          <img src="/assets/images/product-info.1.jpg" alt="">
        </aside>
      </div>
    </div>
  </article>
</product-info>