<styleguide-pages inline-template v-cloak>
  <ul class="styleguide-pages">
    <li class="styleguide-pages__item" v-for="value, key in $store.state.StyleguidePages.pages"><a class="styleguide-pages__item-link" :href="'/' + key" target="_blank">[[ value ]]</a></li>
  </ul>
</styleguide-pages>