<testimonials-carousel inline-template v-cloak>
  <section class="testimonials-carousel">
    <div class="testimonials-carousel__content-wrap swiper-container" data-swiper>
      <div class="swiper-wrapper">
        <figure class="testimonials-carousel__slide swiper-slide">
          <img src="/assets/images/testimonials-carousel.1.jpg" alt="" class="testimonials-carousel__slide-image">
          <figcaption class="testimonials-carousel__slide-caption">
            <p class="testimonials-carousel__slide-text">Работали с “Винтел” по долгосрочному договору. Заказывал 25-тонный кран для подъема металлоконструкций при строительстве склада. Техника доставлялась вовремя, крановщик делал свою работу. Все без замечаний.</p>
            <p class="testimonials-carousel__slide-name">Сергей Климов</p>
            <p class="testimonials-carousel__slide-company">СтройМаршКонсалтинг</p>
          </figcaption>
        </figure>
        <figure class="testimonials-carousel__slide swiper-slide">
          <img src="/assets/images/testimonials-carousel.1.jpg" alt="" class="testimonials-carousel__slide-image">
          <figcaption class="testimonials-carousel__slide-caption">
            <p class="testimonials-carousel__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolores dolore sint doloremque esse quia, error deserunt nisi iusto, id labore illo! Aperiam nemo doloremque dignissimos in sit natus commodi.</p>
            <p class="testimonials-carousel__slide-name">Сергей Климов</p>
            <p class="testimonials-carousel__slide-company">СтройМаршКонсалтинг</p>
          </figcaption>
        </figure>
        <figure class="testimonials-carousel__slide swiper-slide">
          <img src="/assets/images/testimonials-carousel.1.jpg" alt="" class="testimonials-carousel__slide-image">
          <figcaption class="testimonials-carousel__slide-caption">
            <p class="testimonials-carousel__slide-text">Lorem ipsum dolor sit amet consec.</p>
            <p class="testimonials-carousel__slide-name">Сергей Климов</p>
            <p class="testimonials-carousel__slide-company">СтройМаршКонсалтинг</p>
          </figcaption>
        </figure>
      </div>
      <nav class="testimonials-carousel__pagination swiper-pagination" data-swiper-pagination></nav>
    </div>
  </section>
</testimonials-carousel>