<div style="display:flex;flex-wrap:wrap;padding:20px">
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>chasing-dots</strong>
    <ui-spinner layout="chasing-dots" color="#413C58" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>circle</strong>
    <ui-spinner layout="circle" color="#6665DD" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>cube-grid</strong>
    <ui-spinner layout="cube-grid" color="#BFD7B5" :size="80" :opacity="0.8"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>double-bounce</strong>
    <ui-spinner layout="double-bounce" color="#A39BA8" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>fading-circle</strong>
    <ui-spinner layout="fading-circle" color="#9CE37D" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>folding-cube</strong>
    <ui-spinner layout="folding-cube" color="#7E4E60" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>pulse</strong>
    <ui-spinner layout="pulse" color="#B8336A" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>rectangle-bounce</strong>
    <ui-spinner layout="rectangle-bounce" color="#A44A3F" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>rotating-plane</strong>
    <ui-spinner layout="rotating-plane" color="#81E979" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>three-bounce</strong>
    <ui-spinner layout="three-bounce" color="#595A4A" :size="80" :opacity="1"></ui-spinner>
  </div>
  <div style="width:auto;position:relative;height:180px;width:180px;text-align:center">
    <strong>wandering-cubes</strong>
    <ui-spinner layout="wandering-cubes" color="#8FBB99" :size="80" :opacity="1"></ui-spinner>
  </div>
</div>