<section
  class="technologies-slideshow"
  id="technologies-slideshow"
  v-cloak
>

  <section-heading
    title="О технологиях"
    subtitle="Для реализации данного проекта использовались следующие инструменты:"
  ></section-heading>

  <div class="technologies-slideshow__items-wrap" data-slideshow>
      <figure
        class="technologies-slideshow__item"
        v-for="item in currentItemTechnologies"
        data-slideshow-item
      >
        <div class="technologies-slideshow__item-content-wrap">
          <img
            class="technologies-slideshow__image"
            :alt="item.name"
            :title="item.name"
            :data-flickity-lazyload="`/assets/images/technologies-slideshow/technologies/${item.image}.jpg`"
          >
          <figcaption class="technologies-slideshow__item-caption">
            <p class="technologies-slideshow__item-title">{{ item.name }}</p>
            <div
              :class="{
                'technologies-slideshow__item-description': true,
                'typography': true
              }"
            >{{ item.description }}</div>
          </figcaption>
        </div>
      </figure>
  </div>
</section>