.technologies-slideshow {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
}

.technologies-slideshow__items-wrap {
  width: calc(100% + 20px);
  height: auto;
  margin: -80px -10px 0;

  @media screen and (--mobile) {
    margin: 0 -10px 0;
  }
}

.technologies-slideshow__item {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #fff;

  @media screen and (--mobile) {
    border-top: 1px solid #f5f5f5;
    background-color: #fafafa;
    box-shadow: var(--App__boxShadow);
  }
}

.technologies-slideshow__item-content-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  @media screen and (--mobile) {
    position: relative;
    display: block;
  }

  @nest .technologies-slideshow__item:nth-child(odd) & {
    justify-content: flex-end;
  }

  @nest .technologies-slideshow__item:nth-child(even) & {
    justify-content: flex-start;
  }
}

.technologies-slideshow__image {
  position: absolute;
  top: 80px;
  width: 50%;
  max-width: initial;
  transition-duration: .8s;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, .08),
    -8px -8px 15px 0 rgba(120, 120, 120, .04),
    3px -3px 30px 0 rgba(0, 0, 0, .04);

  @media screen and (--mobile) {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 30%;
    height: 100%;
    border-radius: 0 !important;
    box-shadow: none;
    object-fit: cover;
    object-position: left top;
  }

  @nest .technologies-slideshow__item.is-selected & {
    @media screen and (--mobile) {
      left: 70% !important;
      box-shadow: var(--App__boxShadow);
    }
  }

  @nest .technologies-slideshow__item:nth-child(odd) & {
    right: calc(50% + 40px);
    border-top-right-radius: 4px;

    @media screen and (--mobile) {
      left: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
    }
  }

  @nest .technologies-slideshow__item:nth-child(even) & {
    left: calc(50% + 40px);
    border-top-left-radius: 4px;

    @media screen and (--mobile) {
      left: 100%;
    }
  }
}

.technologies-slideshow__item-caption {
  position: relative;
  z-index: 1;
  width: calc(50% - 2rem);
  padding: 120px 0 180px;
  transition-duration: .4s;

  @media screen and (--mobile) {
    width: calc(70% - 10px);
    padding: 40px 10px;
    transform: translateX(40px);
    opacity: 0;
  }

  @nest .technologies-slideshow__item.is-selected & {
    @media screen and (--mobile) {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.technologies-slideshow__item-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;

  @media screen and (--mobile) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.technologies-slideshow__item-description {
  opacity: .8;
  font-size: 14px;
  line-height: 24px;

  @media screen and (--mobile) {
    font-size: 14px;
    line-height: 1.5;
  }
}
