/*
|--------------------------------------------------------------------------
| FONTS
|--------------------------------------------------------------------------
| Подключение шрифтов
*/

@font-face {
  font-family: 'Formular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Formular.eot');
  src: url('../fonts/Formular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Formular.woff') format('woff'),
    url('../fonts/Formular.ttf') format('truetype');
}

@font-face {
  font-family: 'Formular';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Formular-Light.eot');
  src: url('../fonts/Formular-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Formular-Light.woff') format('woff'),
    url('../fonts/Formular-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Formular';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Formular-Medium.eot');
  src: url('../fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Formular-Medium.woff') format('woff'),
    url('../fonts/Formular-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Formular';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Formular-Bold.eot');
  src: url('../fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Formular-Bold.woff') format('woff'),
    url('../fonts/Formular-Bold.ttf') format('truetype');
}

/*
|--------------------------------------------------------------------------
| GLOBALS
|--------------------------------------------------------------------------
| Объявление глобальных свойств
*/

:root {
  --App__boxShadow: 0 3px 7px rgba(0, 0, 0, .15);
  --App__fontFamily: Formular, sans-serif;

  color: #212121;
  font-family: var(--App__fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @custom-media --tablet (width <= 1240px);
  @custom-media --mobile (width <= 480px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  outline-color: transparent;
}

::before,
::after {
  box-sizing: border-box;
  transition: inherit;
}

::selection {
  color: #fff;
  background-color: #ffc107;
}

::placeholder {
  transition-duration: .4s;
  color: #9e9e9e;
}

:focus::placeholder {
  transform: translateX(1rem);
  color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
}

body {
  width: 100%;
  padding: 0;
}

a {
  cursor: pointer !important;
  transition-duration: .4s;
  text-decoration: none;
  font-family: inherit;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer !important;
  user-select: none;
  transition-duration: .4s;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;

  &[disabled] {
    pointer-events: none;
    filter: grayscale(1);
  }
}

input {
  overflow-x: hidden;
  width: 100%;
  height: 60px;
  padding: 0;
  transition-duration: .4s;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: transparent;
  font-family: var(--App__fontFamily);

  &:focus {
    border-color: #ffc107;
  }

  &[aria-invalid='true'] {
    border-color: #f44336;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    appearance: none;

    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  resize: none;
  transition-duration: .4s;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: transparent;
  font-family: var(--App__fontFamily);

  &:focus {
    border-color: #ffc107;
  }

  &[aria-invalid='true'] {
    border-color: #f44336;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/*
|--------------------------------------------------------------------------
| APP
|--------------------------------------------------------------------------
| Свойства приложения
*/

.app {
  width: 100%;
  min-width: 1260px;
  min-height: 100vh;
  color: #212121;
  background-color: #fff;
  font-family: var(--App__fontFamily);

  @media screen and (--mobile) {
    min-width: 320px;
  }

  & [v-cloak] {
    display: none;
  }
}
