.typography {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  & a {
    text-decoration: none;
    color: #e6a23c;

    &:hover {
      text-decoration: underline;
    }
  }

  & b {
    font-weight: 700;
  }

  & blockquote {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ffecb3;
    border-radius: 4px;
    background-color: #fff8e1;

    & *:first-child,
    & *:last-child {
      margin: 0;
    }
  }

  & cite {
    display: block;
    padding-left: 18px;
    color: #000;
    border-left: 2px solid currentColor;
    font-size: 15px;
    font-style: italic;
  }

  & code {
    white-space: pre-wrap;
    font-family: 'Consolas', 'Menlo', 'Monaco', 'Andale Mono WT', 'Andale Mono',
      'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
      'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
      'Courier New', 'Courier', monospace;
    font-size: 14px;
  }

  & dl {
    margin-bottom: 30px;
  }

  & h1 {
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;

    @media screen and (--mobile) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  & h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }

  & h3 {
    margin-top: 30px;
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  & h4,
  & h5,
  & h6 {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  & hr {
    display: block;
    max-width: 620px;
    margin: 30px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #dadada;
    border-left: none;
  }

  & iframe {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 440px;
    margin-top: 1.28em;
    margin-bottom: 1.28em;
    border: 1px solid #f5f5f5 !important;
    border-radius: 4px;
    background-color: #fafafa;

    @media screen and (--mobile) {
      height: 200px;

      @supports (height: 100vmin) {
        height: 62.5vmin;
      }
    }
  }

  & img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    transition-duration: .4s;
    transition-property: all !important;
    border-radius: 4px;
    box-shadow: var(--App__boxShadow);

    &:hover {
      box-shadow: 5px 8px 20px rgba(0, 0, 0, .1);
    }
  }

  & li {
  }

  & ol {
    margin-bottom: 28px;
    padding-left: 18px;
  }

  & p {
    margin-top: 20px;
    margin-bottom: 20px;

    & img {
      display: block;
      margin: 0 auto;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & pre {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #fafafa;
  }

  & span {
    font-size: inherit;
  }

  & strong {
    font-weight: 700;
  }

  & sub {
    position: relative;
    top: .4em;
    vertical-align: baseline;
  }

  & sup {
    position: relative;
    top: -.4em;
    vertical-align: baseline;
  }

  & ul {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;

    & li {
      position: relative;
      padding-left: 20px;

      @media screen and (--mobile) {
        display: inline-block;
        width: 100%;
        padding-left: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &::before {
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
        width: 5px;
        height: 5px;
        content: '';
        border-radius: 50%;
        background-color: currentColor;

        @media screen and (--mobile) {
          top: 11px;
          width: 2px;
          height: 2px;
        }
      }
    }
  }

  & table {
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    & td {
      padding: 10px;
      border: 1px solid #d3d6da;
    }

    & th {
      padding: 5px 10px;
      text-align: left;
      white-space: nowrap;
      text-transform: uppercase;
      border: 1px solid #dfe6ec;
      background-color: #fafafa;
      font-size: 11px;
      font-weight: 700;
    }
  }
}
