.el-picker-panel {
  border-color: #b2b2b2;
  box-shadow: none;
  font-family: Roboto, sans-serif;

  & .el-picker-panel__body-wrapper {
  }

  & .el-picker-panel__body {
  }

  & .el-date-picker__header {
  }

  & .el-picker-panel__icon-btn {
  }

  & .el-date-picker__prev-btn {
  }

  & .el-icon-d-arrow-left {
  }

  & .el-icon-arrow-left {
  }

  & .el-date-picker__header-label {
  }

  & .active {
  }

  & .el-date-picker__next-btn {
  }

  & .el-icon-d-arrow-right {
  }

  & .el-icon-arrow-right {
  }

  & .el-picker-panel__content {
  }

  & .el-date-table {
  }

  & .el-date-table__row {
  }

  & .prev-month {
  }

  & .available {
  }

  & .today {
  }

  & .next-month {
  }

  & .el-year-table {
  }

  & .cell {
  }

  & .current {
  }

  & .el-month-table {
    & td.current:not(.disabled) .cell {
      color: #fff;
      background-color: #0062cd !important;
    }
  }

  & .el-picker-panel__footer {
  }

  & .el-picker-panel__link-btn {
  }

  & .el-picker-panel__btn {
  }

  &.el-popper[x-placement^=top] .popper__arrow {
    border-top-color: #b2b2b2 !important;
  }

  &.el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #b2b2b2 !important;
  }
}

