.lg-backdrop {
  background-color: color(#212121 alpha(.9));

  @supports (backdrop-filter: blur(0)) {
    backdrop-filter: blur(5px);
  }
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  color: #fafafa;
  background-color: transparent;

  &:hover {
    color: #ffc107;
  }
}

.lg-toolbar {
  background-color: transparent;
}

.lg-toolbar .lg-icon {
  color: #fafafa;

  &:hover {
    color: #ffc107;
  }
}

.lg-thumb {
  &.group {
    min-width: 100% !important;
  }
}

.lg-outer .lg-thumb {
  padding: 20px;
}

.lg-outer .lg-thumb-outer {
  background-color: transparent;
}

.lg-outer .lg-toggle-thumb {
  right: 0;
  color: #fafafa;
  background-color: transparent;

  &::after {
    transition-duration: .4s;
  }

  &:hover {
    color: #ffc107;
  }
}

.lg-outer .lg-thumb-item {
  margin: 0 20px 20px 0 !important;
  border: 1px solid transparent;
  border-radius: 0;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: #ffc107;
}
