<section
  class="received-sertificates"
  id="received-sertificates"
  v-cloak
>
  <div class="received-sertificates__content-wrap">
    <!--col-->
    <div class="received-sertificates__col">
      <article class="received-sertificates__text">
        <header class="received-sertificates__title">Сертификаты</header>
        <p class="received-sertificates__subtitle">Стараясь не отставать от развития технологий, я сдаю сертификационное тестирование и прохожу онлайн-курсы.</p>
        <p class="received-sertificates__subtitle">Получено более 50 сертификатов от таких компаний как: TemplateMonster, Retratech, GeekBrains, Интуит.</p>
      </article>
      <button
        :class="{
          'received-sertificates__readmore': true,
          'el-button': true,
          'el-button--success': true
        }"
        :id="id + 'readmore'"
        @mouseover="isAnimateItems = true"
        @mouseleave="isAnimateItems = false"
        @click="
          initLightGallery(
            id + 'readmore',
            {
              counter: false,
              download: false,
              thumbnail: true,
              dynamic: true,
              dynamicEl: db.filter(item => item.image).map(item => ({
                src: `/assets/images/received-sertificates/sertificates/${item.image}`,
                thumb: `/assets/images/received-sertificates/sertificates/${item.image}`
              })),
              index: 0
            }
          )
        "
      >Показать все сертификаты</button>
    </div>
    <!--/col-->
    <!--col-->
    <div
      class="received-sertificates__col"
      v-if="$mq !== 'mobile'"
    >
      <figure
        :class="{
          'received-sertificates__decor': true,
          'received-sertificates__decor--animated': isAnimateItems
        }"
      >
        <img
          class="received-sertificates__decor-image"
          alt=""
          src="/assets/images/received-sertificates/sertificates/templatemonster.joomla.jpg"
        >
        <img
          class="received-sertificates__decor-image"
          alt=""
          src="/assets/images/received-sertificates/sertificates/intuit.client-side-optimization.jpg"
        >
        <img
          class="received-sertificates__decor-image"
          alt=""
          src="/assets/images/received-sertificates/sertificates/geekbrains.html-css.senior.jpg"
        >
      </figure>
    </div>
    <!--/col-->
  </div>
</section>