.received-sertificates {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
}

.received-sertificates__content-wrap {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0;

  @media screen and (--mobile) {
    flex-wrap: wrap;
    padding: 40px 0;
  }
}

.received-sertificates__col {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  @media screen and (--mobile) {
    width: 100%;
  }

  &:nth-child(1) {
    width: 60%;
    padding: 80px 0;

    @media screen and (--mobile) {
      width: 100%;
      padding: 0;
    }
  }

  &:nth-child(2) {
    width: 40%;
  }
}

.received-sertificates__text {
  position: relative;
  margin-bottom: 40px;

  @media screen and (--mobile) {
    margin-bottom: 20px;
  }
}

.received-sertificates__title {
  position: relative;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 700;

  @media screen and (--mobile) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.received-sertificates__subtitle {
  max-width: 760px;
  margin-bottom: 10px;
  opacity: .8;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

.received-sertificates__readmore {
}

.received-sertificates__decor {
  position: relative;
  width: 100%;
  min-height: 500px;
  perspective: 800px;

  &--animated {
  }
}

.received-sertificates__decor-image {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  overflow: hidden;
  max-width: 80%;
  max-height: 80%;
  transition-delay: 0s;
  transition-duration: 1s;
  transform-origin: right 50%;
  border-radius: 10px;
  box-shadow: -20px -20px 80px 0 rgba(0, 0, 0, .08),
    -8px -8px 15px 0 rgba(120, 120, 120, .04),
    3px -3px 30px 0 rgba(0, 0, 0, .04);
  will-change: transform, transition-delay;

  &:nth-child(1) {
    z-index: 1;
    transform: translate(0, -50%) rotateY(-30deg);

    @nest .received-sertificates__decor--animated & {
      transition-delay: .2s;
      transform: translate(0, calc(-50% + 10px)) rotateY(-25deg);
    }
  }

  &:nth-child(2) {
    z-index: 2;
    max-width: 60%;
    max-height: 60%;
    transform: translate(-30%, -70%) rotateY(-30deg);

    @nest .received-sertificates__decor--animated & {
      transition-delay: .1s;
      transform: translate(-30%, calc(-70% - 15px)) rotateY(-20deg);
    }
  }

  &:nth-child(3) {
    z-index: 3;
    max-width: 70%;
    max-height: 70%;
    transform: translate(-50%, -30%) rotateY(-30deg);

    @nest .received-sertificates__decor--animated & {
      transition-delay: 0s;
      transform: translate(-50%, calc(-30% + 20px)) rotateY(-15deg);
    }
  }
}
