.site-footer {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;

  & canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.site-footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  filter: saturate(2);

  &--placeholder {
    background-color: #212121;
    filter: none;
  }
}

.site-footer__content-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 80px 0;

  @media screen and (--mobile) {
    padding: 40px 0;
  }
}

.site-footer__contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  width: calc((100% - 3rem) / 4);
  min-width: 260px;

  @media screen and (--mobile) {
    order: 2;
    width: 100%;
  }
}

.site-footer__logo {
  display: block;
  margin-bottom: 1rem;
  white-space: nowrap;
  letter-spacing: .3em;
  opacity: .8;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 44px;

  @media screen and (--mobile) {
    margin-bottom: 0;
    font-size: 14px;
  }

  &:hover {
    opacity: 1;
  }
}

.site-footer__contacts-item {
  display: inline-block;
  padding-left: 1.5rem;
  opacity: .8;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem auto;
  font-size: 14px;
  line-height: 2em;

  &:hover {
    opacity: 1;
  }
}

.site-footer__social-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  @media screen and (--mobile) {
    margin-top: 40px;
  }

  & .social-links {
    & .social-links__item {
      width: 30px;
      height: 30px;
      background-size: contain;

      &:not(:first-child) {
        margin-left: 10px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.site-footer__menu {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (--mobile) {
    order: 1;
    width: 100%;
    margin-bottom: 40px;
  }
}

.site-footer__menu-title {
  margin-bottom: 1rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;

  @media screen and (--mobile) {
    margin-bottom: 0;
  }
}

.site-footer__menu-link {
  display: inline-block;
  opacity: .8;
  color: #fff;
  font-size: 14px;
  line-height: 2em;

  &:hover {
    opacity: 1;
  }
}
