<footer class="site-footer" id="site-footer" v-cloak>
  <div
    :class="[
      'site-footer__overlay',
      'site-footer__overlay--placeholder',
    ]"
    :style="{ opacity: currentItem.gradient ? 0 : 1 }"
  ></div>
  <div
    class="site-footer__overlay"
    :style="{
      backgroundImage: currentItem.gradient,
      opacity: currentItem.gradient ? 1 : 0
    }"
  ></div>
  <div class="site-footer__content-wrap">
    <!--contacts-->
    <address class="site-footer__contacts">
      <a class="site-footer__logo" href="/">ALEXLIT.GITLAB.IO</a>
      <a
        v-for="item in contactsItems"
        class="site-footer__contacts-item"
        :style="{
          backgroundImage: `url('/assets/images/site-footer.${item.type}.svg')`
        }"
        :href="item.href"
        :target="item.type === 'telegram' ? '_blank' : null"
      >{{ item.label }}</a>
      <div class="site-footer__social-wrap">

        <social-links></social-links>

      </div>
    </address>
    <!--/contacts-->
    <!--menu-->
    <nav class="site-footer__menu">
      <p class="site-footer__menu-title">Информация</p>
      <a
        v-for="item, index in [
          {
            label: 'Опыт работы',
            href: '/#work-experience'
          },
          {
            label: 'Сертификаты',
            href: '/#received-sertificates'
          },
          {
            label: 'Портфолио',
            href: '/#recent-projects'
          }
        ]"
        class="site-footer__menu-link"
        :href="item.href"
        :key="index"
      >{{ item.label }}</a>
    </nav>
    <!--/menu-->
    <!--menu-->
    <nav
      class="site-footer__menu"
      v-if="$mq!=='mobile'"
    >
      <p class="site-footer__menu-title">Open Source проекты</p>
      <a
        v-for="item in openSourceItems"
        class="site-footer__menu-link"
        :href="item.href"
        target="_blank"
      >{{ item.label }}</a>
    </nav>
    <!--/menu-->
    <!--menu-->
    <nav
      class="site-footer__menu"
      v-if="$mq!=='mobile'"
    >
      <p class="site-footer__menu-title">Сервисы</p>
      <a
        class="site-footer__menu-link"
        href="/extract-css-classes/"
      >Извлечение CSS классов из разметки</a>
      <a
        class="site-footer__menu-link"
        href="https://htmlacademy-promocode.github.io/"
        target="_blank"
      >Промокоды HTMLAcademy</a>
    </nav>
    <!--/menu-->
  </div>
</footer>