.el-button {
  padding: 15px 20px;
  transition-duration: .4s;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .15);
  font-size: 16px;
  font-weight: 400;

  &:hover {
    box-shadow: 3px 6px 7px rgba(0, 0, 0, .1);
  }

  &:active {
    transform: scale(.98);
  }
}
