<section class="portfolio-item-description" v-cloak>
  <div class="portfolio-item-description__content-wrap">
    <main class="portfolio-item-description__main">

      <section-heading
        title="О проекте"
        :subtitle="item.description"
      ></section-heading>

      <article
        :class="{
          'portfolio-item-description__article': true,
          'typography': true
        }"
        v-if="currentItem.description"
        v-html="currentItem.description"
      ></article>
    </main>
    <aside
      class="portfolio-item-description__sidebar"
      v-if="currentItem.description && $mq !== 'mobile'"
    >
      <div class="portfolio-item-description__technologies">
        <p class="portfolio-item-description__technologies-title">Технологии</p>
        <div class="portfolio-item-description__technologies-items-wrap">
          <figure
            class="portfolio-item-description__technologies-item"
            v-for="item in currentItemTechnologies"
          >
            <img
              class="portfolio-item-description__technologies-item-icon"
              :src="`/assets/images/technologies-slideshow/technologies/${item.image}.icon.png`"
              :alt="`Логотп ${item.name}`"
            >
            <figcaption class="portfolio-item-description__technologies-item-caption">{{ item.name }}</figcaption>
          </figure>
        </div>
      </div>
    </aside>
  </div>
</section>