.portfolio-item-description {
  position: relative;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.portfolio-item-description__content-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.portfolio-item-description__main {
  flex-shrink: 0;
  width: calc(100% - (340px));

  @media screen and (--mobile) {
    width: 100%;
  }
}

.portfolio-item-description__article {
  position: relative;
  padding: 0 0 80px;

  @media screen and (--mobile) {
    padding: 0 0 40px;
  }
}

.portfolio-item-description__sidebar {
  position: relative;
  flex-shrink: 0;
  width: 320px;
  padding: 80px 0 70px 20px;
  border-left: 1px solid #f5f5f5;
  background-color: #fafafa;
  box-shadow: 300px 0 0 #fafafa, 600px 0 0 #fafafa;
}

.portfolio-item-description__technologies {
  position: sticky;
  top: 88px;
}

.portfolio-item-description__technologies-title {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.portfolio-item-description__technologies-items-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.portfolio-item-description__technologies-item {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 5px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background-color: #fff;
}

.portfolio-item-description__technologies-item-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  object-position: center;
}

.portfolio-item-description__technologies-item-caption {
  width: calc(100% - 34px);
  font-size: 12px;
}
