{% extends "layouts/main.htm" %}

{% set page = {
  title: "Алексей Литовченко | Front-end developer",
  description: "Портфолио front-end разработчика. Севастополь, Россия.",
  keywords: "front-end, разработчик, портфолио, Севастополь, Россия"
} %}

{% block page %}

  <main-menu page="main"></main-menu>

  <main-promo
    image="/assets/images/main-promo.love-coding.jpg"
    video="mp4:/assets/videos/main-promo.love-coding.mp4"
    title="Привет, я Алексей"
    subtitle="Front-end developer"
    :is-avatar-visible="true"
  ></main-promo>

  <work-experience></work-experience>

  <received-sertificates></received-sertificates>

  <recent-projects></recent-projects>

  <testimonials-carousel></testimonials-carousel>

{% endblock %}