{% extends "layouts/portfolio-item.htm" %}

{% set page = {
  title: "Алексей Литовченко | Front-end developer",
  description: "Портфолио front-end разработчика. Севастополь, Россия.",
  keywords: "front-end, разработчик, портфолио, Севастополь, Россия"
} %}

{% block page %}

  <main-menu page="portfolio-item"></main-menu>

  <portfolio-item></portfolio-item>

{% endblock %}