<section
  class="similar-projects"
  id="similar-projects"
  v-cloak
>
  <div class="similar-projects__content-wrap">

    <section-heading
      title="Похожие проекты"
      :subtitle="`Несколько работ из коллекции <strong>&laquo;${currentItem.type}&raquo;</strong>`"
    ></section-heading>

    <div class="similar-projects__items-wrap">
      <a
        v-for="item, index in items"
        class="similar-projects__item"
        :href="`portfolio.html?slug=${item.slug}`"
        :key="index"
      >
        <div class="similar-projects__item-image-wrap">
          <img
            class="similar-projects__item-image"
            :data-src="`/assets/images/portfolio-item/${item.slug}/1.jpg`"
            alt="Пример отображения проекта на устройстве"
          >
        </div>
        <div class="similar-projects__item-caption">
          <p class="similar-projects__item-title">{{ item.slug|formatName }}</p>
          <p class="similar-projects__item-text">{{ item.text }}</p>
        </div>
      </a>
    </div>
  </div>
</section>