.similar-projects {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fafafa;
}

.similar-projects__content-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 0 80px;

  @media screen and (--mobile) {
    padding-bottom: 40px;
  }
}

.similar-projects__title {
  margin-bottom: 100px;
  text-align: center;
  font-size: 48px;
}

.similar-projects__items-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% + 20px);
  margin-right: -10px;
  margin-left: -10px;
}

.similar-projects__item {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  width: calc((100% - (20px * 3)) / 3);
  height: 320px;
  margin: 0 10px 20px;
  border-radius: 4px;
  box-shadow: var(--App__boxShadow);

  @media screen and (--mobile) {
    width: 100%;
    height: calc((100vmin * 3 / 4) - 20px);
    margin: 0 10px 10px;
  }

  &:hover {
    box-shadow: 5px 8px 20px rgba(0, 0, 0, .1);
  }
}

.similar-projects__item-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url('../images/similar-projects.placeholder.svg');
  background-repeat: no-repeat;
  background-position: center calc(50% - (64px / 2));
  background-size: 40% auto;
}

.similar-projects__item-image {
  display: block;
  width: 100%;
  height: 100%;
  transition-delay: .1s;
  transition-duration: .4s;
  transform: translateY(0);
  object-position: center;
  object-fit: cover;

  &:not([src]) {
    opacity: 0;
  }

  &.loading {
    opacity: 0;
    filter: blur(5px);
  }

  &.loaded {
    opacity: 1;
    filter: none;
  }

  @nest .similar-projects__item:hover & {
    transform: translateY(-20px);
  }
}

.similar-projects__item-caption {
  position: relative;
  width: 100%;
  margin-top: auto;
  padding: 20px;
  transition-duration: 1s;
  transition-duration: .4s;
  transform: translateY(calc(100% - 64px));
  color: #212121;
  background-color: #fff;

  @media screen and (--mobile) {
    padding: 20px 10px;
  }

  @nest .similar-projects__item:hover & {
    transform: translateY(0);
  }
}

.similar-projects__item-title {
  overflow: hidden;
  margin-bottom: 20px;
  transition-duration: .4s;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  @nest .similar-projects__item:hover & {
    margin-bottom: 5px;
  }
}

.similar-projects__item-text {
  transition-delay: .1s;
  transition-duration: .4s;
  opacity: 0;
  font-size: 14px;
  line-height: 18px;

  @nest .similar-projects__item:hover & {
    opacity: .8;
  }
}
