.el-select {
  width: 100%;

  & .el-input {
    width: auto;
  }

  & .el-input__icon {
    width: 50px;
    height: 100%;

    &::before {
      position: absolute;
      top: calc(50% - 2px);
      left: calc(50% - 3.5px);
      width: 7px;
      height: 4px;
      content: '';
      background-image: url(../images/el-select.arr.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  & .el-icon-caret-top {
  }

  & .el-input__inner {
    width: 100%;
    height: 50px;
    padding: 0 20px 0 15px;
    color: #000;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    line-height: 21px;

    &:focus {
      border-color: #eb5a34;
    }
  }
}

.el-select-dropdown {
  border-color: #dfdfdf;
  border-radius: 4px;
  box-shadow: none;

  & .el-scrollbar {
  }

  & .el-select-dropdown__wrap {
  }

  & .el-scrollbar__wrap {
  }

  & .el-scrollbar__view {
  }

  & .el-select-dropdown__list {
  }

  & .el-select-dropdown__item {
    font-family: roboto;

    &:hover,
    &.hover {
      color: #eb5a34;
      background-color: transparent;

      &.selected {
        color: #fff;
      }
    }
  }

  & .el-select-dropdown__item.selected {
    background-color: #eb5a34;
  }

  & .el-select-dropdown__item.selected.hover {
    background-color: #eb5a34;
  }
}

