.el-dialog {
  width: calc(100% - 20px);
  max-width: 960px;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: var(--App__boxShadow);

  @media screen and (--mobile) {
    top: 0 !important;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 0;
  }
}

.el-dialog__body {
  padding: 40px;
  color: #212121;
}

.el-dialog__close {
  &:hover {
  }

  &::before {
    display: none;
  }
}

.el-dialog__header {
  padding: 0;
}

.el-dialog__headerbtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-image: url(../images/el-dialog.close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: contain;

  &:hover {
    background-image: url(../images/el-dialog.close@active.svg);
  }
}

.el-dialog__title {
}

.el-dialog__wrapper {
}

