<header
  :class="{
    'section-heading': true,
    'section-heading--light': mod === 'light'
  }"
  v-cloak
>
  <div class="section-heading__content-wrap">
    <h2
      class="section-heading__title"
      v-if="title.length"
      v-html="title"
    ></h2>
    <p
      class="section-heading__subtitle"
      v-if="subtitle.length"
      v-html="subtitle"
    ></p>
  </div>
</header>