.section-heading {
  position: relative;
  width: 100%;
  padding: 80px 0;
  color: #212121;

  @media screen and (--mobile) {
    padding: 40px 0;
  }

  &--light {
    color: #fafafa;
  }
}

.section-heading__content-wrap {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  /*padding-left: 24px;*/
  text-align: left;

  /*border-left: 8px solid #e6a23c;*/

  @media screen and (--mobile) {
    padding-left: 10px;
    border-left: 4px solid #e6a23c;
  }
}

.section-heading__title {
  position: relative;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;

  @media screen and (--mobile) {
    font-size: 24px;
  }
}

.section-heading__subtitle {
  max-width: 760px;
  opacity: .8;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;

  & strong {
    white-space: nowrap;
    font-weight: 700;
  }
}
