<figure
  class="ui-spinner"
  :style="{
    width: size + 'px',
    height: size + 'px',
    opacity: opacity,
    color: color
  }"
>

  <!-- rotating-plane -->
  <div
    v-if="activeLayout === 'rotating-plane'"
    class="ui-spinner__rotating-plane"
  ></div>

  <!-- double-bounce -->
  <div
    v-if="activeLayout === 'double-bounce'"
    class="ui-spinner__double-bounce"
  >
    <span
      v-for="i in 2"
      :class="[
        'ui-spinner__double-bounce-item',
        `ui-spinner__double-bounce-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- rectangle-bounce -->
  <div
    v-if="activeLayout === 'rectangle-bounce'"
    class="ui-spinner__rectangle-bounce"
  >
    <span
      v-for="i in 5"
      :class="[
        'ui-spinner__rectangle-bounce-item',
        `ui-spinner__rectangle-bounce-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- wandering-cubes -->
  <div
    v-if="activeLayout === 'wandering-cubes'"
    class="ui-spinner__wandering-cubes"
  >
    <span
      v-for="i in 2"
      :class="[
        'ui-spinner__wandering-cubes-item',
        `ui-spinner__wandering-cubes-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- pulse -->
  <div
    v-if="activeLayout === 'pulse'"
    class="ui-spinner__pulse"
  ></div>

  <!-- chasing-dots -->
  <div
    v-if="activeLayout === 'chasing-dots'"
    class="ui-spinner__chasing-dots"
  >
    <span
      v-for="i in 2"
      :class="[
        'ui-spinner__chasing-dots-item',
        `ui-spinner__chasing-dots-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- three-bounce -->
  <div
    v-if="activeLayout === 'three-bounce'"
    class="ui-spinner__three-bounce"
  >
    <span
      v-for="i in 3"
      :class="[
        'ui-spinner__three-bounce-item',
        `ui-spinner__three-bounce-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- circle -->
  <div
    v-if="activeLayout === 'circle'"
    class="ui-spinner__circle"
  >
    <span
      v-for="i in 12"
      :class="[
        'ui-spinner__circle-item',
        `ui-spinner__circle-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- cube-grid -->
  <div
    v-if="activeLayout === 'cube-grid'"
    class="ui-spinner__cube-grid"
  >
    <span
      v-for="i in 9"
      :class="[
        'ui-spinner__cube-grid-item',
        `ui-spinner__cube-grid-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- fading-circle -->
  <div
    v-if="activeLayout === 'fading-circle'"
    class="ui-spinner__fading-circle"
  >
    <span
      v-for="i in 12"
      :class="[
        'ui-spinner__fading-circle-item',
        `ui-spinner__fading-circle-item--position--${ i }`
      ]"
    ></span>
  </div>

  <!-- folding-cube -->
  <div
    v-if="activeLayout === 'folding-cube'"
    class="ui-spinner__folding-cube"
  >
    <span
      v-for="i in 4"
      :class="[
        'ui-spinner__folding-cube-item',
        `ui-spinner__folding-cube-item--position--${ i }`
      ]"
    ></span>
  </div>

</figure>