.portfolio-item-promo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & > [id^='jarallax-container'] {
    top: -20px !important;
    left: -20px !important;
    width: calc(100% + 40px) !important;
    height: calc(100% + 40px) !important;
    filter: blur(10px);
  }
}

.portfolio-item-promo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  filter: saturate(2);

  &--placeholder {
    background-color: #212121;
    filter: none;
  }
}

.portfolio-item-promo__content-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 188px 0 140px;

  @media screen and (--mobile) {
    padding: 120px 0 80px;
  }
}

.portfolio-item-promo__title {
  margin-bottom: 10px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  font-weight: 700;

  @media screen and (--mobile) {
    font-size: 24px;
  }
}

.portfolio-item-promo__text {
  color: color(#fff alpha(.8));
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;

  & strong {
    color: #fff;
    font-weight: 100;
  }
}

.portfolio-item-promo__text-title {
  margin-bottom: 20px;
  color: color(#fff alpha(1));
  font-size: 16px;
  font-weight: 100;
  line-height: initial;

  @media screen and (--mobile) {
    font-size: 16px;
  }
}

.portfolio-item-promo__el-button-group-wrap {
  position: relative;
  display: block;
  width: 100%;

  @media screen and (--mobile) {
    display: flex;
    overflow: auto;
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 0 10px;
  }

  &::after {
    @media screen and (--mobile) {
      display: block;
      flex-shrink: 0;
      width: 10px;
      content: '.';
      opacity: 0;
    }
  }
}

.portfolio-item-promo__el-button-group {
  &.el-button-group {
    position: relative;
    flex-shrink: 0;
    padding-top: 40px;

    @media screen and (--mobile) {
      display: flex;
      padding-top: 20px;
    }
  }
}

.portfolio-item-promo__el-button {
  &.el-button {
    padding: 10px 15px;
    color: #fff;
    border-color: currentColor !important;
    background-color: transparent !important;
    box-shadow: none;
    font-size: 14px;
    font-weight: 100;

    @media screen and (--mobile) {
      padding: 10px 8px;
    }

    &:hover {
      border-color: currentColor !important;
      background-color: rgba(255, 255, 255, .2) !important;
      box-shadow: none;
    }
  }
}
