<header
  class="portfolio-item-promo"
  :style="{ backgroundImage: 'url(' + currentItem.mockups[0] + ')' }"
  data-parallax
  v-cloak
>
  <div
    :class="[
      'portfolio-item-promo__overlay',
      'portfolio-item-promo__overlay--placeholder',
    ]"
    :style="{ opacity: currentItem.gradient ? 0 : .8 }"
  ></div>
  <div
    class="portfolio-item-promo__overlay"
    :style="{
      backgroundImage: currentItem.gradient,
      opacity: currentItem.gradient ? .8 : 0
    }"
  ></div>
  <article class="portfolio-item-promo__content-wrap">
    <h1 class="portfolio-item-promo__title">{{ currentItem.slug|formatName }}</h1>
    <div class="portfolio-item-promo__text">
      <p class="portfolio-item-promo__text-title">{{ currentItem.text }}</p>
      <p><strong>Тип работы:</strong> {{ currentItem.type }}</p>
      <p><strong>Работодатель</strong>: {{ agency }}</p>
      <p><strong>Год разработки:</strong> {{ currentItem.date }}</p>

      <!-- el-button-group -->
      <no-typography class="portfolio-item-promo__el-button-group-wrap">
        <el-button-group class="portfolio-item-promo__el-button-group">
          <transition name="el-fade-in">
            <el-button
              class="portfolio-item-promo__el-button"
              type="primary"
              v-if="isPreviewAvailable"
              @click="setFrameVisibility(true)"
              plain
            >Посмотреть сайт</el-button>
          </transition>
          <el-button
            :id="`${id}-gallery`"
            class="portfolio-item-promo__el-button"
            type="primary"
            @click="
              initLightGallery(
                id + '-gallery',
                {
                  counter: false,
                  download: false,
                  thumbnail: true,
                  dynamic: true,
                  index: 0,
                  dynamicEl: currentItem.mockups.map(item => ({
                    src: item,
                    thumb: item
                  }))
                }
              )
            "
            plain
          >Галерея</el-button>
          <el-button
            :id="`${id}-screenshots`"
            class="portfolio-item-promo__el-button"
            type="primary"
            v-if="currentItem.screenshots.length"
            @click="
              initLightGallery(
                id + '-screenshots',
                {
                  counter: false,
                  download: false,
                  thumbnail: true,
                  dynamic: true,
                  index: 0,
                  dynamicEl: currentItem.screenshots.map(item => ({
                    src: item,
                    thumb: item
                  }))
                }
              )
            "
            plain
          >Скриншоты</el-button>
        </el-button-group>
      </no-typography>
      <!-- /el-button-group -->

    </div>
  </article>
</header>