.social-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item {
  display: flex;
  width: 60px;
  height: 60px;
  transition-property: opacity;
  opacity: .6;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30px;

  &:hover {
    opacity: 1;
  }
}
