<section
  class="recent-projects"
  id="recent-projects"
  v-cloak
>
  <div class="recent-projects__content-wrap">

    <transition name="el-fade-in" mode="out-in">
      <section-heading
        v-if="!isAllItemsDisplayed"
        title="Последние проекты"
        subtitle="Несколько задач над которыми я с трепетом работал последнее время."
        key="recent-projects-section-heading"
      ></section-heading>
      <section-heading
        v-else
        title="Все работы"
        subtitle="Проекты в которых я принимал участие с 2012 года."
        key="all-projects-section-heading"
      ></section-heading>
    </transition>

    <transition name="el-fade-in" mode="out-in">
      <div
        v-if="!isAllItemsDisplayed"
        class="recent-projects__scene"
        key="recent-projects"
      >
        <div class="recent-projects__items-wrap">
          <a
            v-for="item, index in items"
            class="recent-projects__item"
            :href="`/portfolio.html?slug=${item.slug}`"
            :key="index"
          >
            <div class="recent-projects__item-image-wrap">
              <img
                class="recent-projects__item-image"
                :data-src="`/assets/images/portfolio-item/${item.slug}/1.jpg`"
                alt="Пример отображения проекта на устройстве"
              >
            </div>
            <div class="recent-projects__item-caption">
              <p class="recent-projects__item-title">{{ item.slug|formatName }}</p>
              <p class="recent-projects__item-text">{{ item.text }}</p>
            </div>
          </a>
        </div>
        <footer class="recent-projects__footer">
          <button
            :class="{
              'recent-projects__readmore': true,
              'el-button': true,
              'el-button--success': true
            }"
            v-scroll-to="'#recent-projects'"
            @click="showAllItems()"
          >Смотреть все работы</button>
        </footer>
      </div>
      <div
        v-else
        class="recent-projects__scene"
        key="all-projects"
      >
        <portfolio-list></portfolio-list>
      </div>
    </transition>
  </div>
</section>