.el-input {
  width: auto;

  & .el-input__prefix {
    right: 0;
    left: auto;
    pointer-events: none;
  }

  & .el-input__icon {
    width: 30px;
    height: 100%;

    &.el-icon-date {
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-left: 1px solid #b2b2b2;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url(../images/el-input.calendar.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
      }
    }
  }

  & .el-icon-caret-top {
  }

  & .el-input__inner {
    width: 100%;
    height: 50px;
    padding: 0 20px 0 15px;
    color: #000;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    line-height: 21px;

    &:focus {
      border-color: #000;
    }
  }

  & .el-select-dropdown {
  }

  & .el-scrollbar {
  }

  & .el-select-dropdown__wrap {
  }

  & .el-scrollbar__wrap {
  }

  & .el-scrollbar__view {
  }

  & .el-select-dropdown__list {
  }

  & .el-select-dropdown__item {
  }
}
