.contact-us {
  position: relative;
  width: 100%;
  padding: 0 10px;
  background-color: color(#2196f3 blackness(40%));

  & canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.contact-us__content-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  color: #fafafa;
}

.contact-us__background {
  position: relative;
  width: calc(100% + 20px);
  margin-right: -10px;
  margin-left: -10px;
  background-image: url('../images/work-experience.map.gif');
  box-shadow: inset var(--App__boxShadow);

  & > [id^='jarallax-container'] {
    background-color: color(#2196f3 blackness(40%));
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(23, 26, 29, .85);
  }
}

.contact-us__form-wrap {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  transition-duration: .4s;
  transform: translateY(-50px);
}

.contact-us__animation-wrap {
  position: relative;
  width: 100%;
}
