{% from "components/form-question/form-question.htm" import FormQuestion %}

{% macro ContactsUs() %}
<!-- contacts-us -->
<contacts-us inline-template v-cloak>
  <section
    class="contact-us"
    id="contact-us"
  >
    <div class="contact-us__content-wrap" id="contact-us-content-wrap">

      <section-heading
        :level="2"
        title="Есть вопрос?"
        subtitle="Напишите пару строк и я отвечу как можно скорее"
      ></section-heading>

    </div>
    <figure
      class="contact-us__background"
      data-parallax
    >
      <figcaption class="contact-us__form-wrap">
        <div
          class="contact-us__animation-wrap"
          data-aos="slide-up"
          data-aos-easing="ease-in-out-back"
          data-aos-once="true"
          data-aos-duration="2000"
          data-aos-anchor-placement="top-bottom"
        >

          {{ FormQuestion() }}

        </div>
      </figcaption>
    </figure>
  </section>

</contacts-us>
<!-- /contacts-us -->
{% endmacro %}