<!DOCTYPE html>

<html lang="ru" data-layout="portfolio-item">

  <head>

    {% include "components/head.htm" %}

  </head>

  <body>

    <div
      id="app"
      class="app"
      :data-browser="device.browser"
      :data-browser-version="device.browserVersion"
      :data-browser-engine="device.browserEngine"
      :data-device-type="device.type"
      :data-os="device.os"
      :data-os-version="device.osVersion"
      :data-no-scroll="noScroll"
    >

      {% block page %}{% endblock %}

      <site-footer></site-footer>

      <el-dialog
        v-cloak
        :visible.sync="$root.$store.state.App.modal.show"
        :data-content="$root.$store.state.App.modal.content"
        :modal-class="'v-modal--' + $root.$store.state.App.modal.content"
        top="5%"
      >
        <template v-if = "$root.$store.state.App.modal.content === 'privacy-policy'">политика</template>
      </el-dialog>

    </div>

    {% include "components/scripts.htm" %}

  </body>

</html>